@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,900;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
p,
a {
  color: #252532;
}


p {
  line-height: 1.1;
  font-weight: 400;
}

h1,
h2,
h3 {
  line-height: 1;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: calc(100vw * var(--h__1) / var(--mainWidth));
  font-weight: 900;
  text-align: center;
}

h2 {
  font-family: 'Inter', sans-serif;
  font-size: calc(100vw * var(--h__2) / var(--mainWidth));
  font-weight: 700;
}

h3 {
  font-family: 'Inter', sans-serif;
  font-size: calc(100vw * var(--h__3) / var(--mainWidth));
  font-weight: 800;
}

.h_2-M {
  font-family: 'Montserrat', sans-serif;
  font-size: calc(100vw * var(--h__2-M) / var(--mainWidth));
  font-weight: 900;
  text-align: center;
}

.P1 {
  font-family: 'Inter', sans-serif;
  font-size: calc(100vw * var(--p1) / var(--mainWidth));
  font-weight: 400;
}

.P2 {
  font-family: 'Inter', sans-serif;
  line-height: 1.1;
  font-size: calc(100vw * var(--p2) / var(--mainWidth));
  font-weight: 300;
}

.P3 {
  font-family: 'Inter', sans-serif;
  line-height: 1.1;
  font-size: calc(100vw * var(--p3) / var(--mainWidth));
  font-weight: 300;
}

.P4 {
  font-family: 'Inter', sans-serif;
  line-height: 1.1;
  font-size: calc(100vw * var(--p4) / var(--mainWidth));
  font-weight: 300;
}

.P5 {
  font-family: 'Inter', sans-serif;
  line-height: 1.1;
  font-size: calc(100vw * var(--p5) / var(--mainWidth));
}

.P6 {
  font-family: 'Inter', sans-serif;
  line-height: 1.1;
  font-size: calc(100vw * var(--p6) / var(--mainWidth));
}

.h1__grad h1 {
  background: linear-gradient(90deg,
      #12C2E9 0%,
      #C471ED 50%,
      #F64F59 100%);

  -webkit-background-clip: text;
  background-clip: text;

  -webkit-text-fill-color: transparent;
  color: transparent;
}

.phys__grad {
  background: linear-gradient(90deg,
      #12C2E9 0%,
      #C471ED 100%);

  -webkit-background-clip: text;
  background-clip: text;

  -webkit-text-fill-color: transparent;
  color: transparent;
}

.math__grad {
  background: linear-gradient(90deg,
      #C471ED 0%,
      #F64F59 100%);

  -webkit-background-clip: text;
  background-clip: text;

  -webkit-text-fill-color: transparent;
  color: transparent;
}

/*                                                 Переменные величины - Begin                                                 */
:root {
  --mainWidth: 390;
  /*  Основная ширина экрана в Фигме (390, 768, 1440  */

  --main_font_size: calc(100vw * 14 / var(--mainWidth));
  /*  Текст, который пишется вне p, h1, h2, h3, a  */

  --h__1: 23;
  --h__2-M: 16;
  --h__2: 20;
  --h__3: 14;
  --h__1-margin: 50;
  --p1: 16;
  --p2: 14;
  --p3: 13;
  --p4: 12;
  --p5: 10;
  --p6: 7;
  /*  Размеры шрифтов указаны в px, если изменить тут значения - они автоматически изменятся и в vw  */


  /*  Margins - Begin  */
  --margin__from-h1: 15;
  --hero__name-margin: 267;
  --hero__title-margin: 17;
  --hero__btn-margin: 23;
  --hero__universities-margin: 224;
  --hero__univer__marquee-margin: 18;
  --courses__main__Quote-marginLeft: 14;
  --format-card__bkg-marginTop: 10;
  --format-card__text-marginTop: 8;
  --format-card__list-marginTop: 13;
  --format-card__btn-marginTop: 7;
  --subject-switch-marginTop: 18;
  --subject-switch-marginLeft: 22;
  --switch__active-margin: 1;
  --course-card-marginTop: 12;
  --card-header-marginTop: 9;
  --btn__white-marginTop: 36;
  --course-card__textCourse-marginTop: 21;
  --trust__card__img-marginBottom: 14;
  --trust__card__head-marginLeft: 12;
  --trust__card__text-marginTop: 5;
  --trust__card__text-marginBottom: 7;
  --faq-group-marginTop: 14;
  /*  Margins - End  */


  /*  Paddings - Begin  */
  --padding-1: 14;
  --padding-2: 7;
  --hero__univer__track__img-paddingRight: 33;
  --courses__main-paddingTop: 16;
  --courses__format-card-paddingTop: 13;
  --courses__format-card-paddingRight: 10;
  --courses__format-card-paddingBottom: 10;
  --courses__format-card-paddingLeft: 16;
  --format-card__list__li-paddingLeft: 21;
  --format-card__list__li__before-Top: 3; /* Отступ галочки сверху */
  --switch-btn-paddingLeftRight: 16;
  --switch__active-paddingTop: 6;
  --switch__active-paddingLeft: 12;
  --format-card-trust-text-padding: 16;
  --faq-group-paddingTop: 5;
  /*  Paddings - End  */


  /*  Gapps - Begin  */
  --ul_li-gap: 12;
  /*  Gapps - End  */


  /*  Widths - Begin  */
  --hero__univer__marquee-width: 100vw;
  --hero__univer__track__img-width: 724;
  --format-card__list__li__before-width: 11;
  --course-card-width: 332;
  --subject-switch-width: 188;
  --exam-switch-width: 104;
  --format-card-trust_logo-width: 75;
  /*  Widths - End  */


  /*  Heights - Begin  */
  --hero__univer__track-height: 62.6;
  --hero__univer__bkg-height: 81;
  /*  Heights - End  */


  /*  Position - Begin  */
  --hero__univer__bkg-top: 697;
  /*  Position - End  */


  /*  Border - Begin  */
  --border__1-radius: 30;
  --border__2-radius: 25;
  --border__3-radius: 20;
  --border__size_1: 2;
  --border__size_2: 1;
  /*  Border - End  */


  /*  Button - Begin */
  --btn__padding-top: calc(100vw * 9 / var(--mainWidth));
  --btn__padding-right: calc(100vw * 11 / var(--mainWidth));
  --btn__font-size: calc(100vw * 16 / var(--mainWidth));
  --btn__border-radius: calc(100vw * 40 / var(--mainWidth));
  --switch-btn-fontSize: 13;
  --switch-btn__active-fontSize: 14;
  /*  Button - End */


  /*  Swiper - Begin */
  --swiper-pagination-marginTop: 23;
  --swiper-pagination_shadow-width: 31;
  --swiper-pagination-gap: 16;
  --swiper-pagination_Dots-width: 7;
  --swiper-pagination_Active-width: 32;
  --swiper-pagination_Active-height: 9;
  --swiper-pagination_Active-radius: 99;

  /*  Swiper - End */
}
/*                                                 Переменные величины - End                                                 */


/*                                                 Постоянные величины - Begin                                                 */
:root {
  /*  Backgrounds - Begin */
  --btn__background: linear-gradient(180deg, #3B3A4E 0%, #272733 100%);
  /*  Backgrounds - End */

  /*  BoxShadow - Begin */
  --box__shadow-1: 0vw 0.7692vw 1.28205vw #0000000f, 0vw 0.7692vw 2.05128vw #00000026;
  --box__shadow-2: 0vw 0.7692vw 0.2564vw #0000000f, 0vw 0.7692vw 2.05128vw #00000026;
  --box__shadow-3: 0vw 1.53846vw 7.6923vw rgba(0, 0, 0, 0.06);
  --box__shadow-4: 0vw 1.5385vw 7.6923vw rgba(0, 0, 0, 0.06);
  /*  BoxShadow - End */
}
/*                                                 Постоянные величины - Begin                                                 */



body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-size: var(--main_font_size);
  background-color: #FAF9F6;
}