/*                                                 Button and Switch - Begin                                          */
.btn {
  display: inline-flex;
  align-items: center;

  padding:  var(--btn__padding-top)  var(--btn__padding-right);
  border: none;
  border-radius: var(--btn__border-radius);

  font-family: 'Inter';
  font-size: var(--btn__font-size);
  font-weight: 700;
  line-height: 1;
  color: #fff;

  cursor: pointer;

  background: var(--btn__background);
  box-shadow: 0vw 1.2821vw 1.0256vw #424151 inset, 0vw 1.0256vw 3.8462vw rgba(15, 14, 23, 0.20);
}

.btn.white {
  color: #252532;

  background: linear-gradient(180deg,rgba(251, 251, 251, 1) 0%,rgba(240, 240, 240, 1) 100%);
  box-shadow: 0vw 1.28205vw 2.5641vw rgba(0, 0, 0, 0.20);
}


.switch {
  display: inline-flex;

  justify-content: space-between;

  border-radius: var(--btn__border-radius);
  border-width: calc(100vw * var(--border__size_2) / 390);
  border-style:  solid;
  border-color: #32303e;

  background-color: #252532;
}

.subject-switch {
  width: calc(100vw * var(--subject-switch-width) / 390);
  margin-top: calc(100vw * var(--subject-switch-marginTop) / 390);
  margin-left: calc(100vw * var(--subject-switch-marginLeft) / 390);
}

.exam-switch {
  width: calc(100vw * var(--exam-switch-width) / 390);
  border-color: #F8F8F8;
  background-color: #E9E9EB;
}

.switch-btn {
  border: none;

  font-size: calc(100vw * var(--switch-btn-fontSize) / 390);
  font-weight: 600;
  color: #B0B0B0;

  cursor: pointer;
  background: transparent;
}

.switch-btn.exam {
  color: #5C5C64;
}

.switch-btn.left {
  padding-left: calc(100vw * var(--switch-btn-paddingLeftRight) / 390);
}

.switch-btn.right {
  padding-right: calc(100vw * var(--switch-btn-paddingLeftRight) / 390);
}

.switch .active {
  display: block;
  
  margin: calc(100vw * var(--switch__active-margin) / 390);
  padding: calc(100vw * var(--switch__active-paddingTop) / 390) calc(100vw * var(--switch__active-paddingLeft) / 390);

  border-radius: var(--btn__border-radius);

  font-size: calc(100vw * var(--switch-btn__active-fontSize) / 390);
  color: #fff;

  background: var(--btn__background);
  box-shadow: var(--box__shadow-2);
}

.exam-switch .active {
  color: #252532;

  background: linear-gradient(180deg,rgba(251, 251, 251, 1) 0%,rgba(240, 240, 240, 1) 100%);
}
/*                                                 Button and Switch - End                                          */

/*                                                 Swiper - Begin                                          */
