/*                                                 Button and Switch - Begin                                          */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding:  var(--btn__padding-top)  var(--btn__padding-right);
  border: none;
  border-radius: var(--btn__border-radius);

  font-family: 'Inter';
  font-size: var(--btn__font-size);
  font-weight: 700;
  line-height: 1;
  color: #fff;

  cursor: pointer;

  background: var(--btn__background);
  box-shadow: 0vw 1.2821vw 1.0256vw #424151 inset, 0vw 1.0256vw 3.8462vw rgba(15, 14, 23, 0.20);
}

.btn.white {
  color: #252532;

  background: linear-gradient(180deg,rgba(251, 251, 251, 1) 0%,rgba(240, 240, 240, 1) 100%);
  box-shadow: 0vw 1.28205vw 2.5641vw rgba(0, 0, 0, 0.20);
}

.switch {
  display: inline-flex;

  justify-content: space-between;

  border-radius: var(--btn__border-radius);
  border-width: calc(100vw * var(--border__size_2) / var(--mainWidth));
  border-style:  solid;
  border-color: #32303e;

  background-color: #252532;
}

.subject-switch {
  width: calc(100vw * var(--subject-switch-width) / var(--mainWidth));
  margin-top: calc(100vw * var(--subject-switch-marginTop) / var(--mainWidth));
  margin-left: calc(100vw * var(--subject-switch-marginLeft) / var(--mainWidth));
}

.exam-switch {
  width: calc(100vw * var(--exam-switch-width) / var(--mainWidth));
  border-color: #F8F8F8;
  background-color: #E9E9EB;
}

.contact-switch {
  width: calc(100vw * var(--contact-switch-width) / var(--mainWidth));
}

.switch-btn {
  border: none;

  font-size: calc(100vw * var(--switch-btn-fontSize) / var(--mainWidth));
  font-weight: 600;
  color: #B0B0B0;

  cursor: pointer;
  background: transparent;
}

.switch-btn.exam {
  color: #5C5C64;
}

.switch-btn.left {
  padding-left: calc(100vw * var(--switch-btn-paddingLeftRight) / var(--mainWidth));
}

.switch-btn.right {
  padding-right: calc(100vw * var(--switch-btn-paddingLeftRight) / var(--mainWidth));
}

.switch-btn.role.left {
  padding-left: calc(100vw * var(--switch-btn_role-paddingLeftRight) / var(--mainWidth));
}

.switch-btn.role.right {
  padding-right: calc(100vw * var(--switch-btn_role-paddingLeftRight) / var(--mainWidth));
}

.switch .active {
  display: block;
  
  margin: calc(100vw * var(--switch__active-margin) / var(--mainWidth));
  padding: calc(100vw * var(--switch__active-paddingTop) / var(--mainWidth)) calc(100vw * var(--switch__active-paddingLeft) / var(--mainWidth));

  border-radius: var(--btn__border-radius);

  font-size: calc(100vw * var(--switch-btn__active-fontSize) / var(--mainWidth));
  color: #fff;

  background: var(--btn__background);
  box-shadow: var(--box__shadow-2);
}

.exam-switch .active {
  color: #252532;

  background: linear-gradient(180deg,rgba(251, 251, 251, 1) 0%,rgba(240, 240, 240, 1) 100%);
}

.contact-switch .active {
  padding: calc(100vw * var(--switch__active-paddingTop) / var(--mainWidth)) calc(100vw * var(--switch__role__active-paddingLeft) / var(--mainWidth));
}
/*                                                 Button and Switch - End                                          */

/*                                                 Swiper - Begin                                          */
.swiper {
  position: relative;
  margin-top:  calc(100vw * var(--course-card-marginTop) / var(--mainWidth));
  width: 100vw;
}

.swiper-slide {
  display: flex;
  justify-items: center;
}

[class*="mySwiper"] .swiper-pagination {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: calc(100vw * var(--swiper-pagination-marginTop) / var(--mainWidth));
  gap: calc(100vw * var(--swiper-pagination-gap) / var(--mainWidth));
}

/* Стилизация индикаторов (Dots) */
[class*="mySwiper"] .swiper-pagination-bullet {
  width: calc(100vw * var(--swiper-pagination_Dots-width) / var(--mainWidth));
  height: calc(100vw * var(--swiper-pagination_Dots-width) / var(--mainWidth));
  background: #BABABA;
  opacity: 1;
  transition: all 0.3s ease; /* Плавное удлинение */
}

/* Активная точка превращается в длинную */
[class*="mySwiper"] .swiper-pagination-bullet-active {
  width: calc(100vw * var(--swiper-pagination_Active-width) / var(--mainWidth));
  height: calc(100vw * var(--swiper-pagination_Active-height) / var(--mainWidth));
  border-radius: calc(100vw * var(--swiper-pagination_Active-radius) / var(--mainWidth));
  background: #BABABA; /* Цвет как на скрине */
}

/* Левое затемнение */
.swiper::before,
.swiper::after {
  content: "";
  position: absolute;
  top: 0;
  
  width: calc(100vw * var(--swiper-pagination_shadow-width) / var(--mainWidth)); /* ширина затемнения */
  height: 100%;
  z-index: 10;
  pointer-events: none; /* ВАЖНО! */
}

/* Левый градиент */
.swiper::before {
  left: 0;
  background: linear-gradient(90deg, #FAF9F6 0%, rgba(250, 249, 246, 0) 100%)
}

/* Правый градиент */
.swiper::after {
  right: 0;
  background: linear-gradient(90deg, rgba(250, 249, 246, 0) 0%, #FAF9F6 100%)
}

@media (min-width: 768px) {
/*                                                 Button and Switch - Begin                                          */

  .thin {
    padding: var(--btn-thin__padding-top) var(--btn-thin__padding-right);
  }

  .btn.white {
    color: #252532;

    background: linear-gradient(180deg,rgba(251, 251, 251, 1) 0%,rgba(240, 240, 240, 1) 100%);
    box-shadow: 0vw 1.28205vw 2.5641vw rgba(0, 0, 0, 0.20);
  }

  .switch {
    display: inline-flex;

    justify-content: space-between;

    border-radius: var(--btn__border-radius);
    border-width: calc(100vw * var(--border__size_2) / var(--mainWidth));
    border-style:  solid;
    border-color: #32303e;

    background-color: #252532;
  }

  .subject-switch {
    width: calc(100vw * var(--subject-switch-width) / var(--mainWidth));
    margin-top: auto;
    margin-right: calc(100vw * var(--subject-switch-marginRight) / var(--mainWidth));
    margin-bottom: auto;
    margin-left: auto;
  }

  .exam-switch {
    position: absolute;
    top: calc(100vw * var(--course-card__exam-switch-top) / var(--mainWidth));
    left: calc(100vw * var(--course-card__exam-switch-left) / var(--mainWidth));

    width: calc(100vw * var(--exam-switch-width) / var(--mainWidth));
    border-color: #F8F8F8;
    background-color: #E9E9EB;
  }

  .contact-switch {
    width: calc(100vw * var(--contact-switch-width) / var(--mainWidth));
  }

  .switch-btn {
    border: none;

    font-size: calc(100vw * var(--switch-btn-fontSize) / var(--mainWidth));
    font-weight: 600;
    color: #B0B0B0;

    cursor: pointer;
    background: transparent;
  }

  .switch-btn.exam {
    color: #5C5C64;
  }

  .switch-btn.left {
    padding-left: calc(100vw * var(--switch-btn-paddingLeftRight) / var(--mainWidth));
  }

  .switch-btn.right {
    padding-right: calc(100vw * var(--switch-btn-paddingLeftRight) / var(--mainWidth));
  }

  .switch-btn.role.left {
    padding-left: calc(100vw * var(--switch-btn_role-paddingLeftRight) / var(--mainWidth));
  }

  .switch-btn.role.right {
    padding-right: calc(100vw * var(--switch-btn_role-paddingLeftRight) / var(--mainWidth));
  }

  .switch .active {
    display: block;
    
    margin: calc(100vw * var(--switch__active-margin) / var(--mainWidth));
    padding: calc(100vw * var(--switch__active-paddingTop) / var(--mainWidth)) calc(100vw * var(--switch__active-paddingLeft) / var(--mainWidth));

    border-radius: var(--btn__border-radius);

    font-size: calc(100vw * var(--switch-btn__active-fontSize) / var(--mainWidth));
    color: #fff;

    background: var(--btn__background);
    box-shadow: var(--box__shadow-2);
  }

  .exam-switch .active {
    color: #252532;

    background: linear-gradient(180deg,rgba(251, 251, 251, 1) 0%,rgba(240, 240, 240, 1) 100%);
  }

  .contact-switch .active {
    padding: calc(100vw * var(--switch__active-paddingTop) / var(--mainWidth)) calc(100vw * var(--switch__role__active-paddingLeft) / var(--mainWidth));
  }
  /*                                                 Button and Switch - End                                          */

  /*                                                 Swiper - Begin                                          */
  .swiper {
    position: relative;
    margin-top:  calc(100vw * var(--course-card-marginTop) / var(--mainWidth));
    width: 100vw;
  }

  .swiper-slide {
    display: flex;
    justify-items: center;
  }

  [class*="mySwiper"] .swiper-pagination {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: calc(100vw * var(--swiper-pagination-marginTop) / var(--mainWidth));
    gap: calc(100vw * var(--swiper-pagination-gap) / var(--mainWidth));
  }

  /* Стилизация индикаторов (Dots) */
  [class*="mySwiper"] .swiper-pagination-bullet {
    width: calc(100vw * var(--swiper-pagination_Dots-width) / var(--mainWidth));
    height: calc(100vw * var(--swiper-pagination_Dots-width) / var(--mainWidth));
    background: #BABABA;
    opacity: 1;
    transition: all 0.3s ease; /* Плавное удлинение */
  }

  /* Активная точка превращается в длинную */
  [class*="mySwiper"] .swiper-pagination-bullet-active {
    width: calc(100vw * var(--swiper-pagination_Active-width) / var(--mainWidth));
    height: calc(100vw * var(--swiper-pagination_Active-height) / var(--mainWidth));
    border-radius: calc(100vw * var(--swiper-pagination_Active-radius) / var(--mainWidth));
    background: #BABABA; /* Цвет как на скрине */
  }

  /* Левое затемнение */
  .swiper::before,
  .swiper::after {
    content: "";
    position: absolute;
    top: 0;
    
    width: calc(100vw * var(--swiper-pagination_shadow-width) / var(--mainWidth)); /* ширина затемнения */
    height: 100%;
    z-index: 10;
    pointer-events: none; /* ВАЖНО! */
  }

  /* Левый градиент */
  .swiper::before {
    left: 0;
    background: linear-gradient(90deg, #FAF9F6 0%, rgba(250, 249, 246, 0) 100%)
  }

  /* Правый градиент */
  .swiper::after {
    right: 0;
    background: linear-gradient(90deg, rgba(250, 249, 246, 0) 0%, #FAF9F6 100%)
  }
}
