/*      ======= Cards - Begin ======       */
.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--space-xs);

    width: 100%;

    padding: var(--space-xs);

    background-color: var(--color-surface);
    border-radius: var(--radius-card);

    box-shadow: var(--box-shadows-md);
}

.Title {
    margin-left: var(--space-xs);
}

.s {
    padding: var(--space-sm) var(--space-md);
    background-color: var(--color-bg);
    
    border: solid var(--color-border) var(--border-width);
    border-radius: var(--radius-card-s);

    box-shadow: none;
}

.grades {
    display: flex;
    justify-content: space-around;
    align-items: stretch;

    width: 100%;

    padding: var(--space-sm) var(--space-md);

    background-color: var(--color-bg);
    border: solid var(--color-border) var(--border-width);
    border-radius: var(--radius-card-s);

    font-size: var(--text-sm);

    box-shadow: none;
}

.hwc__line-first {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

.hwc__line-first .xs, .hwc__line-first .xs-bold  {
    color: var(--color-text-secondary-dark);
}

.hwc-status {
    padding: 0 var(--space-3xs);

    background-color: var(--color-status-new);
    border-radius: var(--radius-md);
}


.hwc-date {
    display: flex;
    align-items: center;
    gap: var(--space-xs);
}

.hw-date-icon {
    width: var(--size-xs);
    height: auto;
}

.line__horizontal {
    display: block;

    background-color: var(--color-border);

    width: 100%;
    height: var(--border-width);
}

.line__vertical {
    display: block;

    background-color: var(--color-border);

    width: var(--border-width);

}

.hwc__line-third {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-4xs);

    width: 100%;
    padding: var(--space-3xs) 0;
}

.hw__line-third {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-4xs);

    width: 100%;
}

.hw__line-progress {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--space-sm);

    width: 100%;
}

.hw__result-status {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--space-xs);

    width: 100%;
}

.btn-dark {
    flex: 1;
    padding: var(--space-xs) var(--space-md);
    border: none;
    border-radius: var(--radius-xl);

    font-size: var(--text-xs);
    font-weight: 700;
    line-height: 1.4;
    color: var(--color-text-light);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-sm);


    cursor: pointer;

    /* Градиент как в макете */
    background: var(--gradient-btn);

    /* Тень */
    box-shadow:var(--box-shadows-sm);

    transition: all 0.25s ease;
}

.btn-light {
    flex: 1;
    padding: var(--space-3xs) var(--space-sm);
    border: solid var(--border-width) var(--color-border);
    border-radius: var(--radius-round);

    font-size: var(--text-xs);
    font-weight: 700;
    line-height: 1.4;
    color: var(--color-text);

    display: flex;
    align-items: center;
    justify-content: center;


    cursor: pointer;

    /* Градиент как в макете */
    background-color: var(--color-bg);

    transition: all 0.25s ease;
}

/* Hover эффект */
.btn:hover {
    transform: translateY(-3px);
    box-shadow: 
        0 15px 30px rgba(0, 0, 0, 0.35),
        inset 0 1px 0 rgba(255, 255, 255, 0.15);
}

/* Нажатие */
.btn:active {
    transform: translateY(1px);
    box-shadow: 
        0 5px 10px rgba(0, 0, 0, 0.3),
        inset 0 2px 4px rgba(0, 0, 0, 0.3);
}

.btn__group {
    display: flex;
    gap: var(--space-3xs);
}

.btn__books {
    flex: 1;
    padding: var(--space-xs);
    border: solid var(--border-width) var(--color-border);
    border-radius: var(--radius-round);

    font-size: var(--text-xs);
    font-weight: 700;
    line-height: 1.4;
    color: var(--color-text);

    display: flex;
    align-items: center;
    justify-content: center;


    cursor: pointer;

    /* Градиент как в макете */
    background-color: var(--color-bg);

    transition: all 0.25s ease;
}

/*      ======= Cards - End ======       */


/*      ======= Progress__line - Begin ======       */
.progress__line {
    display: block;

    width: 100%;
    height: var(--space-xs);

    background-color: var(--color-border);
    border-radius: var(--radius-round);
}

.progress__line-active {
    display: block;
    overflow: hidden;

    width: 0;
    height: var(--space-xs);

    border-radius: var(--radius-round);

    transition: width 0.8s ease; /* 🔥 магия */
}

.progress__line-background {
    display: block;

    height: var(--space-xs);

    background: var(--gradient-green);
    border-radius: var(--radius-round);
}
/*      ======= Progress__line - End ======       */

/*      ======= Indicators - Begin ======       */
.hw__result-status-indicator {
    display: block;

    width: var(--size-2xs);
    height: var(--size-2xs);

    border-radius: var(--radius-round);
}

.complete {
    background-color: var(--color-status-complete);
}

.fail {
    background-color: var(--color-status-fail);
}