/*                                                 Header-mobile - Begin                                                */
.header {
  position: fixed;
  top: 0;        /* Прижать к самому верху */
  left: 0;       /* Прижать к левому краю */
  width: 100%;   /* Растянуть на всю ширину экрана */
  z-index: 1000; /* Чтобы хедер был поверх всех остальных элементов */

  background-color: #ffffffe6;
}


.header__inner {
  height: 11.2821vw;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* logo */
.logo {
  width: 16.4103vw;
  height: auto;
  display: block;
  margin: 3.5897vw 0vw 3.5897vw 3.5897vw;
}

/* burger */
.burger {
  width: 3.8462vw;
  height: 2.0513vw;
  border: none;
  background: transparent; /* Делает фон полностью прозрачным */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 4.6154vw 4.6154vw 4.6154vw 0;
  cursor: pointer;
}

.burger span {
  display: block;
  height: 0.2564vw;
  width: 3.8462vw;
  background: #252532;
}

/* mobile menu */
.mobile-menu {
  position: fixed;
  inset: 0;
  background: #ffffffe6;
  z-index: 1000;

  transform: translateY(-100%);
  transition: 0.6s ease;
  padding: 17.1795vw 0 0 12.8205vw;
}

.mobile-menu.open {
  transform: translateY(0);
}

/* кнопка закрытия */
.menu-close {
  position: absolute;
  top: 3.3333vw;
  right: 4.6154vw;
  font-size: 5.8974vw;
  color: #252532;
  border: none;
  background: transparent;
  cursor: pointer;
}

/* список */
.mobile-menu ul {
  list-style: none;
  padding: 60px 0 0 0;
  margin: 0;
}

.mobile-menu li {
  padding-bottom: 7.6923vw;
}

.mobile-menu a {
  text-decoration: none;
  font-size: 5.8974vw;
  font-weight: 700;
  display: block;
}

.header-desktop {
  display: none;
}
/*                                                 Header-mobile - End                                                */


/*                                                 Backgrounds-mobile - Begin                                                */
.bkg-1 {
  position: absolute;
  top: 420vw;
  width: 100vw;
  height: auto;
  z-index: -100;
}

.bkg-2 {
  position: absolute;
  top: 569vw;
  width: 100vw;
  height: auto;
  z-index: -100;
}

.bkg-3 {
  position: absolute;
  top: 676vw;
  width: 100vw;
  height: auto;
  z-index: -100;
}

.bkg-4 {
  position: absolute;
  top: 813vw;
  width: 100vw;
  height: auto;
  z-index: -100;
}

.bkg-5 {
  position: absolute;
  top: 994vw;
  width: 100vw;
  height: auto;
  z-index: -100;
}
/*                                                 Backgrounds-mobile - End                                                */

/*                                                 Footer-mobile - Begin                                                */
.footer {
  padding: calc(100vw * var(--padding-1) / var(--mainWidth));
}
.footer, .footer p, .footer a {
  font-size: calc(100vw * var(--p3) / var(--mainWidth));
  font-weight: 300;
  color: #737373;
}
/* ===== Верхняя часть ===== */
.footer-top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
/* Бренд */
.footer-brand {
  max-width: 100%;
}

.footer-logo {
  width: calc(100vw * var(--footer-logo-width) / var(--mainWidth));
}

.footer-description {
  margin-top: calc(100vw * var(--footer-description-marginTop) / var(--mainWidth));
}
/* ===== Навигация ===== */
.footer-nav {
  display: flex;
  margin-top: calc(100vw * var(--footer-nav-marginTop) / var(--mainWidth));
  gap: calc(100vw * var(--footer-nav-gap) / var(--mainWidth));
}

.footer-column ul {
  list-style: none;
}

.footer-column li {
  margin-top: calc(100vw * var(--footer-description-marginTop) / var(--mainWidth));
  line-height: 0.64;
}

.footer-column a {
  text-decoration: none;
  transition: 0.2s ease;
}

.footer-column a:hover {
  color: #2c2c34;
}
/* ===== Разделитель ===== */
.footer-divider {
  margin: calc(100vw * var(--footer-divider-marginTopBottom) / var(--mainWidth)) 0;
  height: calc(100vw * var(--border__size_2) / var(--mainWidth));
  background: #EAEAEA;
}
/* ===== Нижняя часть ===== */
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: calc(100vw * var(--footer-bottom-gap) / var(--mainWidth));
  flex-wrap: wrap;
}

.footer-links {
  display: flex;
  gap: calc(100vw * var(--footer-links-gap) / var(--mainWidth));;
  line-height: 0.73;
}

.footer-links a, .footer-copy {
  font-size: calc(100vw * var(--footer__links-a) / var(--mainWidth));
  text-decoration: none;
}
/*                                                 Footer-mobile - End                                                */

@media (min-width: 768px) {
/*                                                 Header-Desktop - Begin                                                */
  .header, .mobile-menu {
    display: none;
  }

  .header-desktop {
    display: flex;
    justify-content: center;
    padding-top: calc(100vw * var(--header-desktop-paddingTop) / var(--mainWidth));
  }

  /* Основная капсула */
  .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: calc(100vw * var(--header__nav-bar-width) / var(--mainWidth));
    padding: calc(100vw * var(--header__nav-bar-padding) / var(--mainWidth));

    background: #252532;;
    border-radius: calc(100vw * 165 / var(--mainWidth));

    box-shadow: 0vw calc(100vw * 5 / var(--mainWidth)) calc(100vw * 10 / var(--mainWidth)) calc(100vw * 1 / var(--mainWidth)) #16151C inset, 
                0vw calc(100vw * 3 / var(--mainWidth)) calc(100vw * 6 / var(--mainWidth)) calc(-100vw * 2 / var(--mainWidth)) #403F4E;
    border: calc(100vw * 1 / var(--mainWidth)) #32303E solid;
  }

  /* ===== Ссылки ===== */

  .nav-bar__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100vw * 321 / var(--mainWidth));
    margin-left: calc(100vw * 16 / var(--mainWidth));
    gap: calc(100vw * 27 / var(--mainWidth));
  }

  .nav-link {
    font-size: calc(100vw * 15 / var(--mainWidth));
    font-weight: 600;
    text-decoration: none;
    color: rgba(255,255,255,0.6);
    transition: 0.25s ease;
  }

  .nav-link:hover {
    color: #ffffff;
  }

  /* Активная ссылка */
  .nav-link.active {
    color: #ffffff;
    font-size: calc(100vw * 17 / var(--mainWidth));
  }

  /* ===== Кнопка ЛК ===== */

  .nav-login-btn {
    background: linear-gradient(180deg, #FBFBFB 0%, #F0F0F0 100%);
    box-shadow: 0vw calc(100vw * 5 / var(--mainWidth)) calc(100vw * 10 / var(--mainWidth)) rgba(0, 0, 0, 0.20);
    color: #252532;

    padding: calc(100vw * 7 / var(--mainWidth)) calc(100vw * 16 / var(--mainWidth)) calc(100vw * 6 / var(--mainWidth));
    border-radius: calc(100vw * 170 / var(--mainWidth));

    font-size: calc(100vw * 19 / var(--mainWidth));

    font-weight: 700;
    text-decoration: none;

    transition: 0.25s ease;
  }

  .nav-login-btn:hover {
    background: #ffffff;
    transform: translateY(-0.1vw);
  }
/*                                                 Header-Desktop - End                                                */
}