@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,900;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-size: 3.5897vw;
  background-color: #FAF9F6;
}


h1, h2, h3, p, a, .btn {
    color: #252532;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 5.8974vw;
}

.h1__grad {
  position: relative;
  margin-top: 12.8205vw;
  
  height: 4.1026vw;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1;
}

.h1__grad h1 {
  background: linear-gradient(
        90deg,
        #12C2E9 0%,
        #C471ED 50%,
        #F64F59 100%
    );

    -webkit-background-clip: text;
    background-clip: text;

    -webkit-text-fill-color: transparent;
    color: transparent;
}

.container {
  max-width: 480px;
  margin: 0 auto;
  /*padding: 0 16px;*/
}

.header {
  position: fixed;
  top: 0;        /* Прижать к самому верху */
  left: 0;       /* Прижать к левому краю */
  width: 100%;   /* Растянуть на всю ширину экрана */
  z-index: 1000; /* Чтобы хедер был поверх всех остальных элементов */

  background-color: #ffffffe6;
}


.header__inner {
  height: 11.2821vw;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* logo */
.logo {
  width: 16.4103vw;
  height: auto;
  display: block;
  margin: 3.5897vw 0vw 3.5897vw 3.5897vw;
}

/* burger */
.burger {
  width: 3.8462vw;
  height: 2.0513vw;
  border: none;
  background: transparent; /* Делает фон полностью прозрачным */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 4.6154vw 4.6154vw 4.6154vw 0;
  cursor: pointer;
}

.burger span {
  display: block;
  height: 0.2564vw;
  width: 3.8462vw;
  background: #252532;
}

/* mobile menu */
.mobile-menu {
  position: fixed;
  inset: 0;
  background: #ffffffe6;
  z-index: 1000;

  transform: translateY(-100%);
  transition: 0.6s ease;
  padding: 17.1795vw 0 0 12.8205vw;
}

.mobile-menu.open {
  transform: translateY(0);
}

/* кнопка закрытия */
.menu-close {
  position: absolute;
  top: 3.3333vw;
  right: 4.6154vw;
  font-size: 5.8974vw;
  color: #252532;
  border: none;
  background: transparent;
  cursor: pointer;
}

/* список */
.mobile-menu ul {
  list-style: none;
  padding: 60px 0 0 0;
  margin: 0;
}

.mobile-menu li {
  padding-bottom: 7.6923vw;
}

.mobile-menu a {
  text-decoration: none;
  font-size: 5.8974vw;
  font-weight: 700;
  display: block;
}


.orbits {
    position: absolute;
    top: 0;
    width: 100vw;
    height: auto;
    z-index: -100;
}

.hero__name {
    position: relative;
    margin-top: 69.4872vw;
    margin-left: 12.0513vw;
    width: 76.1538vw;
    height: 15.8974vw;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1;
    color: #252532;
}

.phys__grad {
    background: linear-gradient(
        90deg,
        #12C2E9 0%,
        #C471ED 100%
    );

    -webkit-background-clip: text;
    background-clip: text;

    -webkit-text-fill-color: transparent;
    color: transparent;
}

.math__grad {
    background: linear-gradient(
        90deg,
        #C471ED 0%,
        #F64F59 100%
    );

    -webkit-background-clip: text;
    background-clip: text;

    -webkit-text-fill-color: transparent;
    color: transparent;
}

.hero__title-box {
  position: relative;
  margin-left: 14.1026vw;
  margin-top: 5.6410vw;
  width: 72.55128vw;
  height: 5.6410vw;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1.1;
}

.hero__title {
    font-size: 3.0769vw;
    font-weight: 400;
}

.hero__btn {
    display: flex;
    justify-content: center;
    margin-top: 6.4102vw;
}

.btn {
    width: 53.0769vw;
    height: 8.7179vw;
  
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: none;
    padding: 2.8205vw;
    font-family: 'Inter';
    font-size: 4.1026vw;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    background: linear-gradient(180deg, #3B3A4E 0%, #272733 100%);
    box-shadow: 0vw 1.2821vw 1.0256vw #424151 inset, 0vw 1.0256vw 3.8462vw rgba(15, 14, 23, 0.20);
    border-radius: 10.2564vw;
}

h2.plc__univer {
    font-family: 'Montserrat';
    font-size: 4.1026vw;
    font-weight: 900;
    line-height: 1;
    text-align: center;
    margin-top: 58.2051vw;
    margin-left: 26.6666vw;

    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.univer__marquee {
    overflow: hidden;
    position: relative;
    margin-top: 2.8205vw;
    width: 100vw;
    height: 16.0513vw;
}

.univer__track {
    display: flex;
    width: max-content;
    height: 16.0513vw;
    animation: univer__track 10s linear infinite;
}

.univer__track img {
  display: block;
  padding-right: 8.4615vw;
  flex: 0 0 185.6410vw;
  height: 16.0513vw;
  
  will-change: transform;
  transform: translateZ(0);
  backface-visibility: hidden;
}


@keyframes univer__track {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-194.1025641vw, 0, 0);
  }
}

.univer__bkg {
    width: 100vw;
    height: 20.7692vw;
    position: absolute;
    top: 178.2051vw;
    z-index: -90;
    box-shadow: 0vw -9,7436vw 25.641vw 1.2821vw #faf9f6, 0vw 9,7436vw 25.641vw 1.2821vw #faf9f6;
    background: linear-gradient(
    0deg,
    rgba(250, 249, 246, 0.8) 0%,
    rgba(250, 249, 246, 1) 50%,
    rgba(250, 249, 246, 0.8) 100%
  );
}

/* Таблица "Все курсы" */

.courses__main {
  display: block;
  background-color: red;
  width: 92.3077vw;
  height: 175.3846vw;
  border-radius: 7.6923vw;

  position: relative;
  margin-top: 4.35897vw;
  margin-left: 3.8462vw;
}


.Quote {
  display: inline-flex;
  align-items: center;
  width: 55.6410vw;
  height: 7.1795vw;

  position: relative;
  margin-top: 4.61538vw;
  margin-left: 5.3846vw;
}

.Quote p {
  font-size: 4.10256vw;
  font-weight: 500;
  line-height: 1;
}

.Quote .Quote-color {
  color: #BABABA;
}

.format-card__bkg {
  display: flex;
  width: 88.7179vw;
  height: 72.5641vw;
  background-color: #FAF9F6;
  border-radius: 6.410256vw;

  position: relative;
  margin-top: 3.0769vw;
  margin-left: 1.79487vw;

}

.format-card {
  display: block;
  width: 85.1282vw;
  height: 68.97435vw;


  border-color: #E2E2E2;
  border-width: 0.51282vw;
  border-style: solid;
  border-radius: 5.1282vw;
}

.switch {
  display: inline-flex;
  background: #2b2b3a;
  padding: 4px;
  border-radius: 999px;
  gap: 4px;
}

.switch-btn {
  border: none;
  padding: 8px 16px;
  border-radius: 999px;
  background: transparent;
  color: #fff;
  cursor: pointer;
}

.switch-btn.active {
  background: #fff;
  color: #222;
}

.course-card {
  background: linear-gradient(135deg, #1f2030, #2c2d3e);
  color: white;
  padding: 24px;
  border-radius: 24px;
  margin-top: 20px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.more-btn {
  margin-top: 20px;
  padding: 10px 18px;
  border-radius: 999px;
  border: none;
}