

/* Почему нам доверяют */

.bkg-1 {
    position: absolute;
    top: 410vw;
    width: 100vw;
    height: auto;
    z-index: -100;
}

.bkg-2 {
    position: absolute;
    top: 550vw;
    width: 100vw;
    height: auto;
    z-index: -100;
}

.bkg-3 {
    position: absolute;
    top: 662vw;
    width: 100vw;
    height: auto;
    z-index: -100;
}

.bkg-4 {
    position: absolute;
    top: 800vw;
    width: 100vw;
    height: auto;
    z-index: -100;
}

.bkg-5 {
    position: absolute;
    top: 977vw;
    width: 100vw;
    height: auto;
    z-index: -100;
}


/* Отзывы */

.card-review {
  position: relative;
  width: max-content;
  height: max-content;
  background-color: #fff;
  box-shadow: var(--box__shadow-4);
  border-radius: 5.1282vw;
  margin: 0 auto;
}

.review-header {
  display: flex;
  padding-top: 3.5897vw;
  padding-left: 3.5897vw;
  padding-right: 5.1282vw;
}

.review-header div {
  margin-top: 2.0513vw;
  margin-left: 2.3077vw;
  margin-bottom: 1.0256vw;
}

.review-header h3, .review-header p {
  font-size: 3.5897vw;
  line-height: 72%;
}

.review-header h3 {
  margin-bottom: 1.7949vw;
}

.card-review span {
  position: absolute;
  top: 5.1282vw;
  right: 5.1282vw;

}

.card-review a {
  text-decoration: none;
  font-size: 2.5641vw;
  font-weight: 800;
}

.card__review-text {
  display: flex;
  flex-direction: column;
  margin-left: 3.5897vw;
  margin-right: 3.5897vw;
  margin-top: 3.5897vw;
  margin-bottom: 1.0256vw;

}

.card__review-text-one {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  line-height: 1.1; /* Устанавливаем то же значение, что и в Figma */
  width: max-content;
  margin-bottom: 2.5641vw;
  height: 2.3077vw;
}

.card__review-text-two {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  line-height: 1.1; /* Устанавливаем то же значение, что и в Figma */
  width: max-content;
  margin-bottom: 2.5641vw;
  height: 5.8974vw;
}

.card__review-text-three {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  line-height: 1.1; /* Устанавливаем то же значение, что и в Figma */
  width: max-content;
  margin-bottom: 2.5641vw;
  height: 9.4872vw;
}

.card__review-text p {
  font-size: 3.3333vw;
  font-weight: 300;
  line-height: 1;
}



/* Блок с контактами */
.contact-map {
  margin-top: 8.2051vw;
  margin-bottom: 27.6923vw;
  display: flex;
  justify-content: center;
}

.contact-map-card {
  width: 83.3333vw;
  background: #FFFFFF;
  border-radius: 6.4103vw;
  padding: 1.7949vw;
  box-shadow: var(--box__shadow-4);
  text-align: center;
}

/* ===== Карта ===== */

.map-container {
  width: 79.7436vw;
  height: 57.1795vw;
  border-radius: 5.1282vw;
  overflow: hidden;
  margin-bottom: 4.1026vw;
}

.map-container iframe {
  width: 100%;
  height: 100%;
  border: 0;
}



/* ===== Кнопка ===== */
.call__btn {
  width: 75.1282vw;
  height: 8.7179vw;
  padding: 2.8205vw 13.8462vw;
  border-radius: 10.2564vw;
  border: none;
  box-shadow: var(--box__shadow-1);
  background: var(--btn__background);
  color: #fff;
  font-size: 4.1026vw;
  font-weight: 700;
  cursor: pointer;
  margin-bottom: 3.5641vw;
}
.call__btn div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 47.4359vw;
  height: 3.0769vw;
}


/* ===== Контакты ===== */

.contact-info {
  margin-bottom: 2vw;
}

.contact-info p {
  font-size: 2.8205vw;
  font-weight: 300;
  margin-bottom: 2vw;
}

.phone {
  font-size: 3.5897vw;
  font-weight: 700;
  text-decoration: none;
  color: #1e1f2a;
}





/* Футер */
.footer {
  padding: 3.5897vw;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
}

/* ===== Верхняя часть ===== */

.footer-top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Бренд */

.footer-brand {
  max-width: 100%;
}

.footer-logo {
  width: 19.23vw;
  height: 4.6153vw;
}

.footer-logo__img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* или cover если нужно заполнить полностью */
  display: block;
}

.footer-description {
  margin-top: 3.8462vw;
  font-size: 3.3333vw;
  line-height: 0.64;
  color: #737373;
}

/* ===== Навигация ===== */

.footer-nav {
  display: flex;
  margin-top: 5.1282vw;
  gap: 16.6667vw;
}

.footer-column h3 {
  font-size: 3.5897vw;
  line-height: 0.72;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column li {
  margin-top: 3.5897vw;
  line-height: 0.64;
}

.footer-column a {
  text-decoration: none;
  font-size: 3.3333vw;
  color: #737373;
  transition: 0.2s ease;
}

.footer-column a:hover {
  color: #2c2c34;
}

/* ===== Разделитель ===== */

.footer-divider {
  margin: 5.1282vw 0;
  height: 0.2564vw;
  background: #EAEAEA;
}

/* ===== Нижняя часть ===== */

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2.5641vw;
  flex-wrap: wrap;
}

.footer-links {
  display: flex;
  gap: 4.6154vw;
  line-height: 0.73;
}

.footer-links a {
  font-size: 2.8205vw;
  text-decoration: none;
  color: #737373;
}

.footer-copy {
  font-size: 2.8205vw;
  color: #737373;
}