

/* Почему нам доверяют */

.bkg-1 {
    position: absolute;
    top: 410vw;
    width: 100vw;
    height: auto;
    z-index: -100;
}

.bkg-2 {
    position: absolute;
    top: 550vw;
    width: 100vw;
    height: auto;
    z-index: -100;
}

.bkg-3 {
    position: absolute;
    top: 662vw;
    width: 100vw;
    height: auto;
    z-index: -100;
}

.bkg-4 {
    position: absolute;
    top: 800vw;
    width: 100vw;
    height: auto;
    z-index: -100;
}

.bkg-5 {
    position: absolute;
    top: 977vw;
    width: 100vw;
    height: auto;
    z-index: -100;
}

.swiper {
  position: relative;
}

/* Левое затемнение */
.swiper::before,
.swiper::after {
  content: "";
  position: absolute;
  top: 0;
  width: 8vw; /* ширина затемнения */
  height: 100%;
  z-index: 10;
  pointer-events: none; /* ВАЖНО! */
}

/* Левый градиент */
.swiper::before {
  left: 0;
  background: linear-gradient(90deg, #FAF9F6 0%, rgba(250, 249, 246, 0) 100%)
}

/* Правый градиент */
.swiper::after {
  right: 0;
  background: linear-gradient(90deg, rgba(250, 249, 246, 0) 0%, #FAF9F6 100%)
}


.mySwiper .swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4.10256vw;
  position: relative;
  margin-top: 5.8974vw;
}

/* Стилизация индикаторов (Dots) */
.mySwiper .swiper-pagination-bullet {
  width: 1.79487vw;
  height: 1.79487vw;
  background: #BABABA;
  opacity: 1;
  transition: all 0.3s ease; /* Плавное удлинение */
}

/* Активная точка превращается в длинную */
.mySwiper .swiper-pagination-bullet-active {
  width: 8.2051vw;
  height: 2.30769vw;
  border-radius: 25.6410vw;
  background: #BABABA; /* Цвет как на скрине */
}

.mySwiper2 .swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4.10256vw;
  position: relative;
  margin-top: 5.8974vw;
}

/* Стилизация индикаторов (Dots) */
.mySwiper2 .swiper-pagination-bullet {
  width: 1.79487vw;
  height: 1.79487vw;
  background: #BABABA;
  opacity: 1;
  transition: all 0.3s ease; /* Плавное удлинение */
}

/* Активная точка превращается в длинную */
.mySwiper2 .swiper-pagination-bullet-active {
  width: 8.2051vw;
  height: 2.30769vw;
  border-radius: 25.6410vw;
  background: #BABABA; /* Цвет как на скрине */
}

.mySwiper3 .swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4.10256vw;
  position: relative;
  margin-top: 5.8974vw;
}

/* Стилизация индикаторов (Dots) */
.mySwiper3 .swiper-pagination-bullet {
  width: 1.79487vw;
  height: 1.79487vw;
  background: #BABABA;
  opacity: 1;
  transition: all 0.3s ease; /* Плавное удлинение */
}

/* Активная точка превращается в длинную */
.mySwiper3 .swiper-pagination-bullet-active {
  width: 8.2051vw;
  height: 2.30769vw;
  border-radius: 25.6410vw;
  background: #BABABA; /* Цвет как на скрине */
}



/* Вопросы и ответы */
.faq {
  margin-top: 12.8205vw;

}

.faq-group {
  display: flex;
  flex-direction: column;
  width: 93.5897vw;
  height: max-content;
  margin-top: 4.35897vw;
  margin-left: 3.0769vw;
  background: #fff;
  box-shadow: var(--box__shadow-3);
  border-radius: 7.6923vw;
  padding-left: 1.79487vw;
  padding-top: 1.53846vw;
  padding-bottom: 1.79487vw;
}

.faq-group__block {
  width: 90vw;
  height: max-content;
  margin-top: 3.5897vw;
}

.faq-group__title {
  margin-left: 6.9231vw;
  width: max-content;
  height: 3.84615vw;
  display: inline-flex;
  align-items: center;
  justify-content: left;
  text-align: center;
  line-height: 108%; /* Устанавливаем то же значение, что и в Figma */
}

.faq-group__box {
  display: flex;
  flex-direction: column;
  width: 90vw;
  height: max-content;/*30.51282vw;*/
  background-color: #FAF9F6;
  border-radius: 6.410256vw;
  margin-top: 1.7949vw;
  padding-top: 1.7949vw;
  padding-bottom: 3.8462vw;
}

.faq-question {
  width: 79.7436vw;
  height: 4.6154vw;
  background: none;
  border: none;
  text-align: left;
  font-size: 3.5897vw;
  font-weight: 300;
  color: #252532;
  cursor: pointer;
  margin-top: 2.0513vw;
  margin-left: 5.1282vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-icon {
  width: 4.6154vw;
  height: 4.6154vw;
  border-radius: 50%;
  background: #252532;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2vw;
  transition: transform 0.3s ease;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, padding 0.3s ease;
  padding: 0;
  font-size: 3.5897vw;
  font-weight: 300;
  color: #555;
}

.faq-line {
  display: block;
  width: 79.4872vw;
  height: 0.5128vw;
  margin-top: 2.0513vw;
  margin-left: 5.3846vw;
  background-color: #E2E2E2;
}

.faq-item.active .faq-answer {
  max-height: max-content;
  margin-top: 2.0513vw;
  margin-left: 5.3846vw;
}

.faq-item.active .faq-icon {
  transform: rotate(45deg);
}


/* Форма для вопросов */

.contact {
  padding-top: 5.1282vw;
  display: flex;
  justify-content: center;
}

.contact-card {
  width: 83.3333vw;
  height: 92.0513vw;
  background: #fff;
  padding-top: 5.1282vw;
  padding-left: 4.1026vw;
  border-radius: 7.6923vw;
  box-shadow: var(--box__shadow-4);
}

.contact-header {
  display: flex;
  gap: 2.0513vw;
  margin-bottom: 3.5897vw;
}

.contact-icon {
  width: 11.5385vw;
  height: 9.7436vw;
}

.contact-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* или cover если нужно заполнить полностью */
  display: block;
}

.contact-header-hp {
  width: 52.0513vw;
  height: max-content;
}

.contact-header-h {
  width: 52.0513vw;
  height: 3.8462vw;
  display: inline-flex;
  align-items: center;
  justify-content: left;
  text-align: left;
  line-height: 108%; /* Устанавливаем то же значение, что и в Figma */
}

.contact-header-p {
  width: 50vw;
  height: 4.6154vw;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  line-height: 1.1; /* Устанавливаем то же значение, что и в Figma */
  margin-top: 1.7949vw;
  color: #252532;
  font-size: 2.5641vw;
  font-weight: 300;
}
.contact-header-p p {
  font-size: 2.5641vw;
  line-height: 1;
}
/* переключатель */
.contact-switch {
  display: inline-flex;
  align-content: center;
  justify-content: space-between;
  width: max-content;
  height: 7.6923vw;
  border-radius: 43.5897vw;
  border: 0.2564102564vw solid;
  border-color: #32303e;
  background-color: #252532;
}

.switch-btn-c {
  display: inline-flex;
  justify-items: center;
  align-items: center;
  border: none;

  padding-top: 2.8205vw;
  padding-bottom: 2.5641vw;
  padding-left: 12vw;
  padding-right: 10vw;
  line-height: 1;
  font-size: 3.333vw;
  font-weight: 600;
  background: transparent;
  color: #B0B0B0;
  cursor: pointer;
}

.switch-btn-c.right {
  padding-top: 2.8205vw;
  padding-right: 12.5641vw;
  padding-left: 10.7692vw;
  padding-bottom: 2.5641vw;
}

.switch-btn-c.left {
  padding-top: 2.8205vw;
  padding-right: 10.7692vw;
  padding-left: 12.8205vw;
  padding-bottom: 2.5641vw;
}

.switch-btn-c.active {
  display: inline-flex;
  justify-items: center;
  align-items: center;
  margin: 0.25641vw;
  padding: 2.05128vw 11.7949vw;
  font-size: 3.5897vw;
  color: #fff;
  border-radius: 43.5897vw;
  box-shadow: var(--box__shadow-2);
  background: var(--btn__background);
}

/* поля */

.contact-form input,
.contact-form textarea {
  width: 75.1282vw;
  height: 7.6923vw;
  padding-left: 4.10256vw;
  padding-top: 2.8205vw;
  padding-bottom: 2.5641vw;
  margin-top: 2.5641vw;
  border-radius: 3.8462vw;
  border: 0.2564vw solid #E2E2E2;
  background-color: #FAFAFA;
  font-size: 3.3333vw;
  font-weight: 300;
  outline: none;
}

.contact-form textarea {
  border-radius: 5.1282vw;
  height: 18.2051vw;
  resize: none;
}

input::placeholder,
textarea::placeholder {
  color: #2F2E2D;
  font-family: 'Inter';
  font-weight: 300;
}

/* чекбокс */
.checkbox {
  display: flex;
  align-items: center;
  width: 65.8974vw;
  height: 4.1026vw;
  gap: 1.2821vw;
  font-size: 1.7949vw;
  margin-top: 2.5641vw;
  margin-left: 4.6154vw;
  cursor: pointer;
}

.checkbox input {
  display: none;
}

.checkmark {
  width: 2.8205vw;
  height: 2.8205vw;
  border-radius: 50%;
  background: #2F2E2D;
  flex-shrink: 0;
  position: relative;
}

.checkbox input:checked + .checkmark {
  background: #2F2E2D;
}

.checkbox input:checked + .checkmark::after {
  content: "";
  width: 2.8205vw;
  height: 2.8205vw;
  /* Вставляем картинку фоном */
  background-image: url("../image/check-box.svg");
  background-size: contain; /* Картинка впишется в размеры */
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  color: #fff;
  font-size: 14px;

}

.checkbox-text a {
  text-decoration: underline;
  color: inherit;
}

/* кнопка */
.submit-btn {
  width: 28.2051vw;
  height: 8.7179vw;
  margin-top: 3.8462vw;
  margin-left: 23.5897vw;
  padding: 2.8205vw;
  border-radius: 10.2564vw;
  border: none;
  box-shadow: var(--box__shadow-1);
  background: var(--btn__background);
  color: #fff;
  font-size: 4.1026vw;
  font-weight: 700;
  cursor: pointer;
}
.submit-btn div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22.5641vw;
  height: 3.0769vw;
}


/* Отзывы */

.card-review {
  position: relative;
  width: max-content;
  height: max-content;
  background-color: #fff;
  box-shadow: var(--box__shadow-4);
  border-radius: 5.1282vw;
  margin: 0 auto;
}

.review-header {
  display: flex;
  padding-top: 3.5897vw;
  padding-left: 3.5897vw;
  padding-right: 5.1282vw;
}

.review-header div {
  margin-top: 2.0513vw;
  margin-left: 2.3077vw;
  margin-bottom: 1.0256vw;
}

.review-header h3, .review-header p {
  font-size: 3.5897vw;
  line-height: 72%;
}

.review-header h3 {
  margin-bottom: 1.7949vw;
}

.card-review span {
  position: absolute;
  top: 5.1282vw;
  right: 5.1282vw;

}

.card-review a {
  text-decoration: none;
  font-size: 2.5641vw;
  font-weight: 800;
}

.card__review-text {
  display: flex;
  flex-direction: column;
  margin-left: 3.5897vw;
  margin-right: 3.5897vw;
  margin-top: 3.5897vw;
  margin-bottom: 1.0256vw;

}

.card__review-text-one {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  line-height: 1.1; /* Устанавливаем то же значение, что и в Figma */
  width: max-content;
  margin-bottom: 2.5641vw;
  height: 2.3077vw;
}

.card__review-text-two {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  line-height: 1.1; /* Устанавливаем то же значение, что и в Figma */
  width: max-content;
  margin-bottom: 2.5641vw;
  height: 5.8974vw;
}

.card__review-text-three {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  line-height: 1.1; /* Устанавливаем то же значение, что и в Figma */
  width: max-content;
  margin-bottom: 2.5641vw;
  height: 9.4872vw;
}

.card__review-text p {
  font-size: 3.3333vw;
  font-weight: 300;
  line-height: 1;
}



/* Блок с контактами */
.contact-map {
  margin-top: 8.2051vw;
  margin-bottom: 27.6923vw;
  display: flex;
  justify-content: center;
}

.contact-map-card {
  width: 83.3333vw;
  background: #FFFFFF;
  border-radius: 6.4103vw;
  padding: 1.7949vw;
  box-shadow: var(--box__shadow-4);
  text-align: center;
}

/* ===== Карта ===== */

.map-container {
  width: 79.7436vw;
  height: 57.1795vw;
  border-radius: 5.1282vw;
  overflow: hidden;
  margin-bottom: 4.1026vw;
}

.map-container iframe {
  width: 100%;
  height: 100%;
  border: 0;
}



/* ===== Кнопка ===== */
.call__btn {
  width: 75.1282vw;
  height: 8.7179vw;
  padding: 2.8205vw 13.8462vw;
  border-radius: 10.2564vw;
  border: none;
  box-shadow: var(--box__shadow-1);
  background: var(--btn__background);
  color: #fff;
  font-size: 4.1026vw;
  font-weight: 700;
  cursor: pointer;
  margin-bottom: 3.5641vw;
}
.call__btn div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 47.4359vw;
  height: 3.0769vw;
}


/* ===== Контакты ===== */

.contact-info {
  margin-bottom: 2vw;
}

.contact-info p {
  font-size: 2.8205vw;
  font-weight: 300;
  margin-bottom: 2vw;
}

.phone {
  font-size: 3.5897vw;
  font-weight: 700;
  text-decoration: none;
  color: #1e1f2a;
}





/* Футер */
.footer {
  padding: 3.5897vw;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
}

/* ===== Верхняя часть ===== */

.footer-top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Бренд */

.footer-brand {
  max-width: 100%;
}

.footer-logo {
  width: 19.23vw;
  height: 4.6153vw;
}

.footer-logo__img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* или cover если нужно заполнить полностью */
  display: block;
}

.footer-description {
  margin-top: 3.8462vw;
  font-size: 3.3333vw;
  line-height: 0.64;
  color: #737373;
}

/* ===== Навигация ===== */

.footer-nav {
  display: flex;
  margin-top: 5.1282vw;
  gap: 16.6667vw;
}

.footer-column h3 {
  font-size: 3.5897vw;
  line-height: 0.72;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column li {
  margin-top: 3.5897vw;
  line-height: 0.64;
}

.footer-column a {
  text-decoration: none;
  font-size: 3.3333vw;
  color: #737373;
  transition: 0.2s ease;
}

.footer-column a:hover {
  color: #2c2c34;
}

/* ===== Разделитель ===== */

.footer-divider {
  margin: 5.1282vw 0;
  height: 0.2564vw;
  background: #EAEAEA;
}

/* ===== Нижняя часть ===== */

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2.5641vw;
  flex-wrap: wrap;
}

.footer-links {
  display: flex;
  gap: 4.6154vw;
  line-height: 0.73;
}

.footer-links a {
  font-size: 2.8205vw;
  text-decoration: none;
  color: #737373;
}

.footer-copy {
  font-size: 2.8205vw;
  color: #737373;
}