@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,900;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Inter', sans-serif;
    color: #2F2E2D;
}

h1 {
    font-family: 'Montserrat';
    font-size: 40px;
    font-weight: 900;
    line-height: 100%;
    color: #252532;
}

h2 {
    font-family: 'Montserrat';
    font-size: 40px;
    font-weight: 900;
    line-height: 100%;
    background: linear-gradient(
        90deg,
        #12C2E9 0%,
        #C471ED 50%,
        #F64F59 100%
    );

    -webkit-background-clip: text;
    background-clip: text;

    -webkit-text-fill-color: transparent;
    color: transparent;
}

h3 {
    font-family: 'Inter';
    font-size: 30px;
    font-weight: 400;
    line-height: 100%;
    color: #252532;
    text-box-trim: trim-both; /*Убирает отступы текста у блока в котором он находится, обязательно в связке с нижним свойством*/
    text-box-edge: cap alphabetic; /*Убирает отступы текста у блока в котором он находится, обязательно в связке с верхним свойством*/
}

.gray {
    color: #BABABA;
}

p {
    font-size: 19px;
    font-weight: 400;
}

.page-bg {
    position: fixed;
    inset: 0;
    background-color: #FAF9F6;
    z-index: -3;
}

.orbits {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 1184px;
    background-image: url(../images/Main-picture.png);
    background-size: 1440px;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -2;
}

a {
    text-decoration: none;

}
nav {
    display: flex;
    justify-content: center;
}

nav ul {
    border-radius: 165px;
    background-color: #252532;
    list-style: none;
    padding: 0;
    display: flex;

    color: #B0B0B0;
    margin-top: 29px;
    width: 702.15px;
    min-width: 702.15px;
    height: 50px;

    box-shadow: 0px 5px 10px 1px #16151C inset, 0px 3px 6px -2px #403F4E; 
    overflow: hidden; 
    border-radius: 165px; 
    outline: 1px #32303E solid; 
    outline-offset: -1px;
}       

nav ul li a {
    font-size: 17px;
    display: block;
    margin-top: 19px;
    margin-left: 47px;
    font-weight: 700;
    color: #B0B0B0;    
    text-box-trim: trim-both; /*Убирает отступы текста у блока в котором он находится, обязательно в связке с нижним свойством*/
    text-box-edge: cap alphabetic; /*Убирает отступы текста у блока в котором он находится, обязательно в связке с верхним свойством*/
}

nav ul li a.active {
    font-size: 19px;
    font-weight: 700;
    color: #fff;
    margin-top: 18px;
    margin-left: 25px;
    margin-bottom: 18px;
}

nav ul li a.LK {
    background: linear-gradient(180deg, #FBFBFB 100%, #F0F0F0 100%);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.20);
    border-radius: 170px;
    font-size: 22px;
    margin-top: 7px;
    margin-left: 47px;
    padding: 10px 19px;
    color: #252532;
}

.hero_brand {
    display: flex;
    justify-content: center;
}

div.hero_brand img {
    margin-top: 112px;
}

.hero_content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hero_content p
{
    margin-top: 46px;
    font-size: 22px;
    text-align: center;
    font-weight: 300;
    letter-spacing: 0%;
    line-height: 25px;
    text-box-trim: trim-both; /*Убирает отступы текста у блока в котором он находится, обязательно в связке с нижним свойством*/
    text-box-edge: cap alphabetic; /*Убирает отступы текста у блока в котором он находится, обязательно в связке с верхним свойством*/
}

#hero-title {
    margin-top: 63.6px;
    text-align: center;
    text-box-trim: trim-both; /*Убирает отступы текста у блока в котором он находится, обязательно в связке с нижним свойством*/
    text-box-edge: cap alphabetic; /*Убирает отступы текста у блока в котором он находится, обязательно в связке с верхним свойством*/
}

.accent-physics {
    background: linear-gradient(
        90deg,
        #12C2E9 0%,
        #C471ED 100%
    );

    -webkit-background-clip: text;
    background-clip: text;

    -webkit-text-fill-color: transparent;
    color: transparent;
}

.accent-math {
    background: linear-gradient(
        90deg,
        #C471ED 0%,
        #F64F59 100%
    );

    -webkit-background-clip: text;
    background-clip: text;

    -webkit-text-fill-color: transparent;
    color: transparent;
}

button.hero_cta {
    width: 319px;
    height: 59px;
    border-radius: 40px;
    background: linear-gradient(180deg,rgba(59, 58, 78, 1) 0%,rgba(39, 39, 51, 1) 100%);
    box-shadow: inset 0px 5px 4px #424151, 0px 4px 15px #0f0e1733;
    border-style: none;
    margin-top: 47px;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
}

.hero_universities {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#universities-title {
    margin-top: 272px;
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 25px;
    line-height: 100%;
    text-align: center;
    z-index: 0;
    text-box-trim: trim-both; /*Убирает отступы текста у блока в котором он находится, обязательно в связке с нижним свойством*/
    text-box-edge: cap alphabetic; /*Убирает отступы текста у блока в котором он находится, обязательно в связке с верхним свойством*/
}

.universities_list {
    margin-top: 16px;
    box-shadow: 0px -38px 100px 5px #faf9f6, 0px 38px 100px 5px #faf9f6;
    background: linear-gradient(
    0deg,
    rgba(250, 249, 246, 0.8) 0%,
    rgba(250, 249, 246, 1) 50%,
    rgba(250, 249, 246, 0.8) 100%
  );
}

.courses {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caption {
    margin-top: 127px;
}

.courses-tab {
    margin-top: 30px;
    margin-bottom: 100px;
    width: 1000px;
    height: 550px;
    border-radius: 50px;
    box-shadow: 0px 6px 30px #0000000f;
    display: absolute;
}

.courses-tab1 {
    margin-top: 30px;
    margin-left: 61px;

}
