@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,900;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-size: 3.5897vw;
  background-color: #FAF9F6;
}

h1, h2, h3, p, a {
    text-box-trim: trim-both; /*Убирает отступы текста у блока в котором он находится, обязательно в связке с нижним свойством*/
    text-box-edge: cap alphabetic; /*Убирает отступы текста у блока в котором он находится, обязательно в связке с верхним свойством*/
    color: #252532;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 5.8974vw;
}

.container {
  max-width: 480px;
  margin: 0 auto;
  /*padding: 0 16px;*/
}

.header {
  position: fixed;
  top: 0;        /* Прижать к самому верху */
  left: 0;       /* Прижать к левому краю */
  width: 100%;   /* Растянуть на всю ширину экрана */
  z-index: 1000; /* Чтобы хедер был поверх всех остальных элементов */

  background-color: #ffffffe6;
}


.header__inner {
  height: 11.2821vw;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* logo */
.logo {
  width: 16.4103vw;
  height: auto;
  display: block;
  margin: 3.5897vw 0vw 3.5897vw 3.5897vw;
}

/* burger */
.burger {
  width: 3.8462vw;
  height: 2.0513vw;
  border: none;
  background: transparent; /* Делает фон полностью прозрачным */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 4.6154vw 4.6154vw 4.6154vw 0;
  cursor: pointer;
}

.burger span {
  display: block;
  height: 0.2564vw;
  background: #252532;
}

/* mobile menu */
.mobile-menu {
  position: fixed;
  inset: 0;
  background: #ffffffe6;
  z-index: 1000;

  transform: translateY(-100%);
  transition: 0.35s ease;
  padding: 17.1795vw 0 0 12.8205vw;
}

.mobile-menu.open {
  transform: translateY(0);
}

/* кнопка закрытия */
.menu-close {
  position: absolute;
  top: 3.3333vw;
  right: 4.6154vw;
  font-size: 5.8974vw;
  color: #252532;
  border: none;
  background: transparent;
  cursor: pointer;
}

/* список */
.mobile-menu ul {
  list-style: none;
  padding: 60px 0 0 0;
  margin: 0;
}

.mobile-menu li {
  padding-bottom: 7.6923vw;
}

.mobile-menu a {
  text-decoration: none;
  font-size: 5.8974vw;
  font-weight: 700;
  display: block;
}


.orbits {
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: auto;
    z-index: -100;
}

.hero__name {
    position: relative;
    text-align: center;
    margin-top: 69.4872vw;

    line-height: 1;
}

.phys__grad {
    background: linear-gradient(
        90deg,
        #12C2E9 0%,
        #C471ED 100%
    );

    -webkit-background-clip: text;
    background-clip: text;

    -webkit-text-fill-color: transparent;
    color: transparent;
}

.math__grad {
    background: linear-gradient(
        90deg,
        #C471ED 0%,
        #F64F59 100%
    );

    -webkit-background-clip: text;
    background-clip: text;

    -webkit-text-fill-color: transparent;
    color: transparent;
}

.hero__title {
    font-size: 3.0769vw;
    line-height: 1.1;
    margin-top: 5.6410vw;
    text-align: center;
    font-weight: 300;
}