/*                                                 Hero - Begin                                               */
.orbits {
  position: absolute;
  top: 0;
  width: 100vw;
  height: auto;
  z-index: -100;
}

.hero__name {
  position: relative;
  margin-top: calc(100vw * var(--hero__name-margin) / var(--mainWidth));
} 

.h1__grad {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: calc(100vw * var(--h__1-margin) / var(--mainWidth));
}

.hero__title {
  margin-top: calc(100vw * var(--hero__title-margin) / var(--mainWidth));
  text-align: center;
}

.hero__btn {
  margin-top: calc(100vw * var(--hero__btn-margin) / var(--mainWidth));
  text-align: center;
}

.universities {
  margin-top: calc(100vw * var(--hero__universities-margin) / var(--mainWidth));
}

.univer__marquee {
  position: relative;  
  overflow: hidden;

  width: var(--hero__univer__marquee-width);
  margin-top: calc(100vw * var(--hero__univer__marquee-margin) / var(--mainWidth));
}

.univer__track {
    display: flex;
    width: max-content;

    height: calc(100vw * var(--hero__univer__track-height) / var(--mainWidth));

    animation: univer__track 20s linear infinite;
}

.univer__track img {
    display: block;

    flex: 0 0 calc(100vw * var(--hero__univer__track__img-width) / var(--mainWidth));
    padding-right: calc(100vw * var(--hero__univer__track__img-paddingRight) / var(--mainWidth));

    backface-visibility: hidden;
    transform: translateZ(0);
    will-change: transform;;
}


@keyframes univer__track {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(calc(-1 * 100vw * 757 / var(--mainWidth)), 0, 0);
  }
}

.univer__bkg {
  width: 100vw;
  height: calc(100vw * var(--hero__univer__bkg-height) / var(--mainWidth));
  position: absolute;
  top: calc(100vw * var(--hero__univer__bkg-top) / var(--mainWidth));
  z-index: -90;
  box-shadow: 0vw -9.7436vw 25.641vw 1.2821vw #faf9f6, 0vw 9,7436vw 25.641vw 1.2821vw #faf9f6;
  background: linear-gradient(0deg,rgba(250, 249, 246, 0.8) 0%,rgba(250, 249, 246, 1) 50%,rgba(250, 249, 246, 0.8) 100%);
}
/*                                                 Hero - End                                               */



/*                                                 Courses - Begin                                          */
.courses__main {
  position: relative;
  display: flex;
  flex-direction: column;

  width: max-content;
  margin: calc(100vw * var(--margin__from-h1) / var(--mainWidth)) auto 0;
  padding: calc(100vw * var(--courses__main-paddingTop) / var(--mainWidth)) calc(100vw * var(--padding-2) / var(--mainWidth)) calc(100vw * var(--padding-2) / var(--mainWidth));

  border-radius: calc(100vw * var(--border__1-radius) / var(--mainWidth));
  background-color: #fff;
}

.Quote {
  position: relative;
  display: inline-flex;
  align-items: center;

  width: max-content;
  margin-left: calc(100vw * var(--courses__main__Quote-marginLeft) / var(--mainWidth));
}

.Quote .Quote-color {
  color: #BABABA;
}

.format-card__bkg {
  position: relative;
  display: flex;

  width: max-content;
  height: max-content;
  margin-top: calc(100vw * var(--format-card__bkg-marginTop) / var(--mainWidth));
  padding: calc(100vw * var(--padding-2) / var(--mainWidth));

  background-color: #FAF9F6;
  border-radius: calc(100vw * var(--border__2-radius) / var(--mainWidth));
}

.format-card {
  display: flex;
  flex-direction: column;

  width: calc(100vw * var(--course-card-width) / var(--mainWidth));

  padding-top: calc(100vw * var(--courses__format-card-paddingTop) / var(--mainWidth));
  padding-right: calc(100vw * var(--courses__format-card-paddingRight) / var(--mainWidth));
  padding-bottom: calc(100vw * var(--courses__format-card-paddingBottom) / var(--mainWidth));
  padding-left: calc(100vw * var(--courses__format-card-paddingLeft) / var(--mainWidth));
  
  border-width:  calc(100vw * var(--border__size_1) / var(--mainWidth));
  border-color: #E2E2E2;
  border-style: solid;
  border-radius: calc(100vw * var(--border__3-radius) / var(--mainWidth));
}

.format-card__text {
  margin-top: calc(100vw * var(--format-card__text-marginTop) / var(--mainWidth));
}

.format-card__list {
  display: flex;
  flex-direction: column;

  margin-top: calc(100vw * var(--format-card__list-marginTop) / var(--mainWidth));
  padding: 0;

  gap: calc(100vw * var(--ul_li-gap) / var(--mainWidth));
  list-style: none;
}

.format-card__list li {
  position: relative;
  padding-left: calc(100vw * var(--format-card__list__li-paddingLeft) / var(--mainWidth));
}

/* Галочка */
.format-card__list li::before {
  content: "";

  position: absolute;
  left: 0;
  top: calc(100vw * var(--format-card__list__li__before-Top) / var(--mainWidth));

  width: calc(100vw * var(--format-card__list__li__before-width) / var(--mainWidth));
  height: calc(100vw * var(--format-card__list__li__before-width) / var(--mainWidth));

  background-image: url("../image/check.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.btn.format-card__btn {
  position: relative;
  
  width: max-content;
  margin-top: calc(100vw * var(--format-card__btn-marginTop) / var(--mainWidth));
  margin-left: auto;

  box-shadow: var(--box__shadow-1);
  background: var(--btn__background);
}


.course-card {
  display: flex;
  flex-direction: column;

  width: calc(100vw * var(--course-card-width) / var(--mainWidth));
  margin: calc(100vw * var(--course-card-marginTop) / var(--mainWidth)) calc(100vw * var(--padding-2) / var(--mainWidth)) calc(100vw * var(--padding-2) / var(--mainWidth));
  padding-right: calc(100vw * var(--courses__format-card-paddingRight) / var(--mainWidth));
  padding-bottom: calc(100vw * var(--courses__format-card-paddingBottom) / var(--mainWidth));
  padding-left: calc(100vw * var(--courses__format-card-paddingLeft) / var(--mainWidth));

  border-radius: calc(100vw * var(--border__3-radius) / var(--mainWidth));
  
  background: #252532;
  box-shadow: 1.28205vw 3.5897vw 10.2564vw -2.30769vw #3d3a56, inset 0vw 2.05128vw 7.6923vw #2a2a34;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: calc(100vw * var(--card-header-marginTop) / var(--mainWidth));
}

.course-card h2, .course-card p {
  color: #fff;
}

.textCourse {
  margin-top: calc(100vw * var(--course-card__textCourse-marginTop) / var(--mainWidth));
}


#cardText {
  white-space: pre-line;
}

.btn.white {
  position: relative;

  width: max-content;
  margin-top: calc(100vw * var(--btn__white-marginTop) / var(--mainWidth));
  margin-left: auto;
}
/*                                                 Courses - End                                          */


/*                                                 Trust - Begin                                          */
.courses__main-trust {
  display: flex;

  width: max-content;
  margin-top: calc(100vw * var(--margin__from-h1) / var(--mainWidth));
  margin-right: auto;
  margin-left: auto;
  padding: calc(100vw * var(--padding-2) / var(--mainWidth));

  border-radius: calc(100vw * var(--border__1-radius) / var(--mainWidth));
  background-color: #fff;
}

.format-card__bkg-trust {
  display: flex;

  padding: calc(100vw * var(--padding-2) / var(--mainWidth));

  border-radius: calc(100vw * var(--border__2-radius) / var(--mainWidth));
  background-color: #FAF9F6;
}

.format-card-trust {
  display: flex;
  flex-direction: column;
  

  padding: calc(100vw * var(--format-card-trust-text-padding) / var(--mainWidth));

  border-width:  calc(100vw * var(--border__size_1) / var(--mainWidth));
  border-color: #E2E2E2;
  border-style: solid;
  border-radius: calc(100vw * var(--border__3-radius) / var(--mainWidth));
}

.format-card-trust_logo {
  width: calc(100vw * var(--format-card-trust_logo-width) / var(--mainWidth));
}

/* Стили карточки */
.card {
  display: flex;
  flex-direction: column;
  width: 59.7436vw; /* Чтобы боковые карточки были немного видны */
  height: 66.1538vw;
  padding: 1.79487vw;
  background: #fff;
  border-radius: 7.6923vw;
  box-shadow: var(--box__shadow-3);
  text-align: left;
}

.card-how {
  display: flex;
  flex-direction: column;
  width: 82.30769vw; /* Чтобы боковые карточки были немного видны */
  height: 79.4872vw;
  padding: 1.79487vw;
  background: #fff;
  border-radius: 7.6923vw;
  box-shadow: var(--box__shadow-3);
  text-align: left;
}

.card img {
  width: 56.1538vw;
  height: 40.7692vw;
  border-radius: 6.410256vw;
  border-color: #E2E2E2;
  border-width: 0.2564vw;
  border-style: solid;
}

.card-how img {
  width: 78.7179vw;
  height: 57.1795vw;
  border-radius: 6.410256vw;
  border-color: #E2E2E2;
  border-width: 0.2564vw;
  border-style: solid;
}

.card__trust-head {
  display: inline-flex;
  align-items: center;
  height: 3.84615vw;
  margin-top: 4.10256vw;
  margin-left: 2.30769vw;
}

.card__trust-text {
  display: inline-flex;
  align-items: center;
  height: 8.9744vw;
  width: 52.0513vw;
  margin-top: 2.5641vw;
  margin-left: 2.30769vw;
}

.card__how-text {
  display: inline-flex;
  align-items: center;
  height: 5.8974vw;
  width: 70.7692vw;
  margin-top: 2.5641vw;
  margin-left: 2.30769vw;
}

.card p {
  font-size: 3.0769vw;
  line-height: 1.1;
  font-weight: 300;
}

.card-how p {
  font-size: 3.33333vw;
  line-height: 1.1;
  font-weight: 300;
}