/*                                                 Hero - Begin                                               */
.orbits {
    position: absolute;
    top: 0;
    width: 100vw;
    height: auto;
    z-index: -100;
}


/*                                                 Hero - End                                               */
