/*                                                 Hero - Begin                                               */
.orbits {
  position: absolute;
  top: 0;
  width: 100vw;
  height: auto;
  z-index: -100;
}

.hero__name {
  position: relative;
  margin-top: calc(100vw * var(--hero__name-margin) / var(--mainWidth));
} 

.h1__grad {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: calc(100vw * var(--h__1-margin) / var(--mainWidth));
}

.hero__title {
  margin-top: calc(100vw * var(--hero__title-margin) / var(--mainWidth));
  text-align: center;
}

.hero__btn {
  margin-top: calc(100vw * var(--hero__btn-margin) / var(--mainWidth));
  text-align: center;
}

.universities {
  margin-top: calc(100vw * var(--hero__universities-margin) / var(--mainWidth));
}

.univer__marquee {
  position: relative;  
  overflow: hidden;

  width: var(--hero__univer__marquee-width);
  margin-top: calc(100vw * var(--hero__univer__marquee-margin) / var(--mainWidth));
}

.univer__track {
    display: flex;
    width: max-content;

    height: calc(100vw * var(--hero__univer__track-height) / var(--mainWidth));

    animation: univer__track 20s linear infinite;
}

.univer__track img {
    display: block;

    flex: 0 0 calc(100vw * var(--hero__univer__track__img-width) / var(--mainWidth));
    padding-right: calc(100vw * var(--hero__univer__track__img-paddingRight) / var(--mainWidth));

    backface-visibility: hidden;
    transform: translateZ(0);
    will-change: transform;;
}

@keyframes univer__track {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(calc(-1 * 100vw * 757 / var(--mainWidth)), 0, 0);
  }
}

.univer__bkg {
  width: 100vw;
  height: calc(100vw * var(--hero__univer__bkg-height) / var(--mainWidth));
  position: absolute;
  top: calc(100vw * var(--hero__univer__bkg-top) / var(--mainWidth));
  z-index: -90;
  box-shadow: 0vw -9.7436vw 25.641vw 1.2821vw #faf9f6, 0vw 9,7436vw 25.641vw 1.2821vw #faf9f6;
  background: linear-gradient(0deg,rgba(250, 249, 246, 0.8) 0%,rgba(250, 249, 246, 1) 50%,rgba(250, 249, 246, 0.8) 100%);
}
/*                                                 Hero - End                                               */



/*                                                 Courses - Begin                                          */
.courses__main {
  position: relative;
  display: flex;
  flex-direction: column;

  width: max-content;
  margin: calc(100vw * var(--margin__from-h1) / var(--mainWidth)) auto 0;
  padding: calc(100vw * var(--courses__main-paddingTop) / var(--mainWidth)) calc(100vw * var(--padding-2) / var(--mainWidth)) calc(100vw * var(--padding-2) / var(--mainWidth));

  border-radius: calc(100vw * var(--border__1-radius) / var(--mainWidth));
  background-color: #fff;
}

.Quote {
  position: relative;
  display: inline-flex;
  align-items: center;

  width: max-content;
  margin-left: calc(100vw * var(--courses__main__Quote-marginLeft) / var(--mainWidth));
}

.Quote .Quote-color {
  color: #BABABA;
}

.format-card__bkg {
  position: relative;
  display: flex;

  width: max-content;
  height: max-content;
  margin-top: calc(100vw * var(--format-card__bkg-marginTop) / var(--mainWidth));
  padding: calc(100vw * var(--padding-2) / var(--mainWidth));

  background-color: #FAF9F6;
  border-radius: calc(100vw * var(--border__2-radius) / var(--mainWidth));
}

.format-card {
  display: flex;
  flex-direction: column;

  width: calc(100vw * var(--course-card-width) / var(--mainWidth));

  padding-top: calc(100vw * var(--courses__format-card-paddingTop) / var(--mainWidth));
  padding-right: calc(100vw * var(--courses__format-card-paddingRight) / var(--mainWidth));
  padding-bottom: calc(100vw * var(--courses__format-card-paddingBottom) / var(--mainWidth));
  padding-left: calc(100vw * var(--courses__format-card-paddingLeft) / var(--mainWidth));
  
  border-width:  calc(100vw * var(--border__size_1) / var(--mainWidth));
  border-color: #E2E2E2;
  border-style: solid;
  border-radius: calc(100vw * var(--border__3-radius) / var(--mainWidth));
}

.format-card__text {
  margin-top: calc(100vw * var(--format-card__text-marginTop) / var(--mainWidth));
}

.format-card__list {
  display: flex;
  flex-direction: column;

  margin-top: calc(100vw * var(--format-card__list-marginTop) / var(--mainWidth));
  padding: 0;

  gap: calc(100vw * var(--ul_li-gap) / var(--mainWidth));
  list-style: none;
}

.format-card__list li {
  position: relative;
  padding-left: calc(100vw * var(--format-card__list__li-paddingLeft) / var(--mainWidth));
}
/* Галочка */
.format-card__list li::before {
  content: "";

  position: absolute;
  left: 0;
  top: calc(100vw * var(--format-card__list__li__before-Top) / var(--mainWidth));

  width: calc(100vw * var(--format-card__list__li__before-width) / var(--mainWidth));
  height: calc(100vw * var(--format-card__list__li__before-width) / var(--mainWidth));

  background-image: url("../image/check.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.btn.format-card__btn {
  position: relative;
  
  width: max-content;
  margin-top: calc(100vw * var(--format-card__btn-marginTop) / var(--mainWidth));
  margin-left: auto;

  box-shadow: var(--box__shadow-1);
  background: var(--btn__background);
}

.course-card {
  display: flex;
  flex-direction: column;

  width: calc(100vw * var(--course-card-width) / var(--mainWidth));
  margin: calc(100vw * var(--course-card-marginTop) / var(--mainWidth)) calc(100vw * var(--padding-2) / var(--mainWidth)) calc(100vw * var(--padding-2) / var(--mainWidth));
  padding-right: calc(100vw * var(--courses__format-card-paddingRight) / var(--mainWidth));
  padding-bottom: calc(100vw * var(--courses__format-card-paddingBottom) / var(--mainWidth));
  padding-left: calc(100vw * var(--courses__format-card-paddingLeft) / var(--mainWidth));

  border-radius: calc(100vw * var(--border__3-radius) / var(--mainWidth));
  
  background: #252532;
  box-shadow: 1.28205vw 3.5897vw 10.2564vw -2.30769vw #3d3a56, inset 0vw 2.05128vw 7.6923vw #2a2a34;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: calc(100vw * var(--card-header-marginTop) / var(--mainWidth));
}

.course-card h2, .course-card p {
  color: #fff;
}

.textCourse {
  margin-top: calc(100vw * var(--course-card__textCourse-marginTop) / var(--mainWidth));
}

#cardText {
  white-space: pre-line;
}

.btn.white {
  position: relative;

  width: max-content;
  margin-top: calc(100vw * var(--btn__white-marginTop) / var(--mainWidth));
  margin-left: auto;
}
/*                                                 Courses - End                                          */


/*                                                 Trust and How? - Begin                                          */
.courses__main-trust {
  display: flex;

  width: max-content;
  margin-top: calc(100vw * var(--margin__from-h1) / var(--mainWidth));
  margin-right: auto;
  margin-left: auto;
  padding: calc(100vw * var(--padding-2) / var(--mainWidth));

  border-radius: calc(100vw * var(--border__1-radius) / var(--mainWidth));
  background-color: #fff;
}

.format-card__bkg-trust {
  display: flex;

  padding: calc(100vw * var(--padding-2) / var(--mainWidth));

  border-radius: calc(100vw * var(--border__2-radius) / var(--mainWidth));
  background-color: #FAF9F6;
}

.format-card-trust {
  display: flex;
  flex-direction: column;
  

  padding: calc(100vw * var(--format-card-trust-text-padding) / var(--mainWidth));

  border-width:  calc(100vw * var(--border__size_1) / var(--mainWidth));
  border-color: #E2E2E2;
  border-style: solid;
  border-radius: calc(100vw * var(--border__3-radius) / var(--mainWidth));
}

.format-card-trust_logo {
  width: calc(100vw * var(--format-card-trust_logo-width) / var(--mainWidth));
}

/* Стили карточки */
.card {
  display: flex;
  flex-direction: column;

  width: calc(100vw * var(--format-card__main-width) / var(--mainWidth));
  padding: calc(100vw * var(--padding-2) / var(--mainWidth));

  text-align: left;

  border-radius: calc(100vw * var(--border__1-radius) / var(--mainWidth));
  background: #fff;
  box-shadow: var(--box__shadow-3);
}

.card img {
  margin-bottom: calc(100vw * var(--trust__card__img-marginBottom) / var(--mainWidth));

  border-radius: calc(100vw * var(--border__2-radius) / var(--mainWidth));
  border-width: calc(100vw * var(--border__size_2) / var(--mainWidth));
  border-color: #E2E2E2;
  border-style: solid;
}

.card__trust-head {
  margin-left: calc(100vw * var(--trust__card__head-marginLeft) / var(--mainWidth));
}

.card__trust-text {
  margin-top: calc(100vw * var(--trust__card__text-marginTop) / var(--mainWidth));
  margin-bottom: calc(100vw * var(--trust__card__text-marginBottom) / var(--mainWidth));
  margin-left: calc(100vw * var(--trust__card__head-marginLeft) / var(--mainWidth));
}

.card.how {
  width: calc(100vw * var(--format-card__how-width) / var(--mainWidth));
}
/*                                                 Trust and How? - End                                          */


/*                                                 FAQ - Begin                                          */
.faq-group {
  display: flex;

  flex-direction: column;

  margin-top: calc(100vw * var(--faq-group-marginTop) / var(--mainWidth));
  margin-left: auto;
  margin-right: auto;
  
  width: max-content;
  padding: calc(100vw * var(--faq-group-paddingTop) / var(--mainWidth)) calc(100vw * var(--padding-2) / var(--mainWidth)) calc(100vw * var(--padding-2) / var(--mainWidth));

  border-radius: calc(100vw * var(--border__1-radius) / var(--mainWidth));
  background: #fff;
  box-shadow: var(--box__shadow-3);
}

.faq-group__block {
  margin-top: calc(100vw * var(--faq-group-marginTop) / var(--mainWidth));
}

.faq-group__title {
  margin-left: calc(100vw * var(--faq-group__title-marginLeft) / var(--mainWidth));
  margin-bottom: calc(100vw * var(--faq-group__title-marginBottom) / var(--mainWidth));
}

.faq-group__box {
  display: flex;
  flex-direction: column;

  width: max-content;
  padding: calc(100vw * var(--faq-group__box-paddintTop) / var(--mainWidth)) calc(100vw * var(--faq-group__box-paddingLeft) / var(--mainWidth));

  background-color: #FAF9F6;
  border-radius: calc(100vw * var(--border__2-radius) / var(--mainWidth));
}

.faq-item {
  width: calc(100vw * var(--faq-item__line-width) / var(--mainWidth));
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: calc(100vw * var(--faq-item__line-width) / var(--mainWidth));

  background: none;
  border: none;
  color: #252532;
  cursor: pointer;
}

.faq-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100vw * var(--faq-icon-width) / var(--mainWidth));
  height: calc(100vw * var(--faq-icon-width) / var(--mainWidth));
  border-radius: 50%;

  padding-bottom: calc(100vw * 2 / var(--mainWidth)); /* Костыль для того чтобы плюс был ровно по центру */
  
  
  font-size: calc(100vw *  var(--faq-icon__font__size-width) / var(--mainWidth));
  color: white;

  background: #252532;
  transition: transform 0.3s ease;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, padding 0.3s ease;
  padding: 0;
  color: #555;
}

.faq-line {
  display: block;

  width: calc(100vw * var(--faq-item__line-width) / var(--mainWidth));
  height: calc(100vw * var(--faq-line-height) / var(--mainWidth));
  margin-top: calc(100vw * var(--faq-line-marginTop) / var(--mainWidth));
  margin-bottom: calc(100vw * var(--faq-line-marginBottom) / var(--mainWidth));
  
  background-color: #E2E2E2;
}

.faq-item.active .faq-answer {
  max-height: max-content;
  margin-top: calc(100vw * var(--faq-answer-marginTopLeft) / var(--mainWidth));
  margin-left: calc(100vw * var(--faq-answer-marginTopLeft) / var(--mainWidth));
}

.faq-item.active .faq-icon {
  transform: rotate(45deg);
}
/* Форма для вопросов */
.contact {
  display: flex;
  justify-content: center;

  padding-top: calc(100vw * var(--contact-paddingTop) / var(--mainWidth));
}

.contact-card {
  width: calc(100vw * var(--contact-card-width) / var(--mainWidth));

  background: #fff;
  padding: calc(100vw * var(--contact-card-paddingAll) / var(--mainWidth));
  border-radius: calc(100vw * var(--border__1-radius) / var(--mainWidth));
  box-shadow: var(--box__shadow-4);
}

.contact-header {
  display: flex;
  width: max-content;
  gap: calc(100vw * var(--contact-header-gap) / var(--mainWidth));
  margin-bottom: calc(100vw * var(--contact-header-marginBottom) / var(--mainWidth));
}

.contact-icon {
  width: calc(100vw * var(--contact-icon-width) / var(--mainWidth));
}

.contact-icon img {
  object-fit: contain; /* или cover если нужно заполнить полностью */
  display: block;
}

.contact-header-hp {
  display: flex;
  flex-direction: column;

  gap: calc(100vw * var(--contact-header-hp-gap) / var(--mainWidth));
}
/* поля */
.contact-form input,
.contact-form textarea {
  width: calc(100vw * var(--contact-switch-width) / var(--mainWidth));
  margin-top: calc(100vw * var(--contact-form_input_textareat-marginTop) / var(--mainWidth));
  padding: calc(100vw * var(--contact-form_input_textareat-paddingTop) / var(--mainWidth)) calc(100vw * var(--contact-form_input_textareat-paddingLeftRight) / var(--mainWidth)) calc(100vw * var(--contact-form_input_textareat-paddingButtom) / var(--mainWidth));
  
  border-radius: calc(100vw * var(--border__1-radius) / var(--mainWidth));
  border-width: calc(100vw * var(--border__size_2) / var(--mainWidth));
  border-style: solid;
  border-color: #E2E2E2;

  font-size: calc(100vw * var(--p3) / var(--mainWidth));
  font-weight: 300;

  background-color: #FAFAFA;
  outline: none;
}

.contact-form textarea {
  padding-bottom: calc(100vw * var(--contact-form-textarea-paddingBottom) / var(--mainWidth));
  border-radius: calc(100vw * var(--border__3-radius) / var(--mainWidth));
  resize: none;
}

input::placeholder,
textarea::placeholder {
  color: #252532;
  font-family: 'Inter';
  font-weight: 300;
}

.checkbox {
  display: flex;
  align-items: center;

  width: max-content;
  margin-top: calc(100vw * var(--checkbox-marginTop) / var(--mainWidth));
  margin-left: calc(100vw * var(--checkbox-marginLeft) / var(--mainWidth));
  gap: calc(100vw * var(--checkbox-gap) / var(--mainWidth));

  cursor: pointer;
}

.checkbox input {
  display: none;
}

.checkmark {
  position: relative;
  width: calc(100vw * var(--checkmark-width) / var(--mainWidth));
  height: calc(100vw * var(--checkmark-width) / var(--mainWidth));
  border-radius: 50%;
  background: #2F2E2D;
  flex-shrink: 0;
}

.checkbox input:checked + .checkmark {
  background: #2F2E2D;
}

.checkbox input:checked + .checkmark::after {
  content: "";
  width: calc(100vw * var(--checkmark-width) / var(--mainWidth));
  height: calc(100vw * var(--checkmark-width) / var(--mainWidth));
  background-image: url("../image/check-box.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  color: #fff;
  font-size: calc(100vw * var(--p2) / var(--mainWidth));;

}

.checkbox-text a {
  text-decoration: underline;
  color: inherit;
}

.contact-form .btn {
  margin-top: calc(100vw * var(--contact-form__btn-marginTop) / var(--mainWidth));
  margin-left: calc(100vw * var(--contact-form__btn-marginLeft) / var(--mainWidth));
}
/*                                                 FAQ - End                                          */


/*                                                 Review - Begin                                          */
.card-review {
  position: relative;

  margin: 0 auto;
  padding: calc(100vw * var(--padding-1) / var(--mainWidth));

  border-radius: calc(100vw * var(--border__3-radius) / var(--mainWidth));
  background-color: #fff;
  box-shadow: var(--box__shadow-4);
}

.review-header {
  display: flex;
}

.review-header img {
  width: calc(100vw * var(--review-header__width) / var(--mainWidth));
}

.review-header div {
  margin-top: calc(100vw * var(--review-header__div-marginTop) / var(--mainWidth));
  margin-bottom: calc(100vw * var(--review-header__div-marginBottom) / var(--mainWidth));
  margin-left: calc(100vw * var(--review-header__div-marginLeft) / var(--mainWidth));
}

.review-header h3 {
  margin-bottom: calc(100vw * var(--review-header__h3-marginBottom) / var(--mainWidth));
}

.card-review span {
  position: absolute;
  top: calc(100vw * var(--card-review__span-top) / var(--mainWidth));
  right: calc(100vw * var(--card-review__span-right) / var(--mainWidth));

}

.card-review a {
  text-decoration: none;
  font-size: calc(100vw * var(--card-review-a) / var(--mainWidth));
  font-weight: 800;
}

.card__review-text {
  display: flex;
  flex-direction: column;
  gap: calc(100vw * var(--card__review-text-gap) / var(--mainWidth));
}
/*                                                 Review - End                                          */


/*                                                 Contact Map - Begin                                          */
.contact-map {
  display: flex;
  justify-content: center;

  margin-top: calc(100vw * var(--contact-map-marginTop) / var(--mainWidth));
  margin-bottom: calc(100vw * var(--contact-map-marginBottom)  / var(--mainWidth));
}

.contact-map-card {
  padding: calc(100vw * var(--padding-2) / var(--mainWidth));
  text-align: center;

  border-radius: calc(100vw * var(--border__2-radius) / var(--mainWidth));
  background: #FFFFFF;
  box-shadow: var(--box__shadow-4);
}

.map-container {
  height: calc(100vw * var(--map-container-height) / var(--mainWidth));

  border-radius: calc(100vw * var(--border__3-radius) / var(--mainWidth));
  overflow: hidden;
}

.map-container iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

.call {
  width: calc(100vw * var(--contact-switch-width) / var(--mainWidth));
  margin: calc(100vw * var(--contact-map__btn-marginTop) / var(--mainWidth)) calc(100vw * var(--contact-map__btn-marginLeftRight) / var(--mainWidth)) calc(100vw * var(--contact-map__btn-marginBottom) / var(--mainWidth));
}

.contact-info {
  display: flex;
  flex-direction: column;

  margin-bottom: calc(100vw * var(--padding-2) / var(--mainWidth));
  gap: calc(100vw * var(--padding-2) / var(--mainWidth));;
}

.phone {
  font-size: calc(100vw * var(--p2) / var(--mainWidth));
  font-weight: 700;
  text-decoration: none;
  color: #1e1f2a;
}
/*                                                 Contact Map - End                                          */