@media (min-width: 1024px) {

  * {
    line-height: 1;
  }
  /*                                                 Переменные величины - Begin                                                 */
  :root {
    --mainWidth: 1024;
  /*  Основная ширина экрана в Фигме (390, 768, 1440  */

    --main_font_size: calc(100vw * 19 / var(--mainWidth));
    /*  Текст, который пишется вне p, h1, h2, h3, a  */

    --h__1: 40;
    --h__2-M: 19;
    --h__2: 27;
    --h__3: 18;
    --p1: 30;
    --p2: 19;
    --p3: 17;
    --p4: 17;
    --p5: 15;
    --p6: 11;
    /*  Размеры шрифтов указаны в px, если изменить тут значения - они автоматически изменятся и в vw  */

        /*  Margins - Begin  */
    --hero__name-margin: 228;
    --hero__title-margin: 20;
    --hero__btn-margin: 25;
    --hero__universities-margin: 360;
    --hero__univer__marquee-margin: 20;
    --courses__main__Quote-marginLeft: 35;
    --format-card__bkg-marginTop: 13;

    --subject-switch-marginRight: 17;

    --course-card-marginTop: 10;

    --btn__white-marginRight: 4;
    --btn__white-marginBottom: 14;
    --course-card__textCourse-marginTop: 15;
    --card__trust-tablet-marginTop: 10;
    --how__trust__tablet-marginTop: 5;
    --how__trust__tablet-FirstSecond-marginTop: 11;
    --trust__card__img-marginBottom: 8;

    --format-card-trust-text-marginTop: 25;
    --format-card-trust-text-marginRight: 1;
    --format-card-trust-text__h2-marginBottom: 10;
    --format-card-trust-photo-marginTipRight: 16;

    --review__tablet-marginTop: 16;

    --contact-map-marginTop: 60;
    --contact-map-marginBottom: 55;
    --contact-map-card__tablet__flex-marginTop: 14;
    --contact-map-card__tablet__flex-marginRightLeft: 11;
    --contact-map-card__tablet__flex-marginBottom: 9;
    --contact-phone-marginTop: 4;
    /*  Margins - End  */


    /*  Paddings - Begin  */
    --padding-1: 26;
    --padding-2: 13;

    --courses__main-paddingTop: 23;
    --courses__format-card-paddingTop: 26;
    --courses__format-card-paddingRight: 14;

    --card-review__tablet-padding: 14;
    /*  Paddings - End  */


    /*  Gapps - Begin  */
    --format-card__bkg-gap: 11;
    --format-card-trust-text-gap: 7;
    --card__trust-tablet-gap: 10;

    --how__trust__tablet-gap: 11;

    --review__tablet-gap: 7;

    --contact-map-card__tablet__phoneBox-gap: 4;

    --faq-contact-gap: 13;
    /*  Gapps - End  */


    /*  Widths - Begin  */
    --logo__tablet-width: 60;
    --format-card-trust-tablet-width: 686;
    --format-card-trust-photo-width: 180;
    --format-card__main-width: 234;
    --format-card__how-width: 356;

    --contact-map-card__tablet__icons-width: 18;
    --map-container-width: 582;
    /*  Widths - End  */


    /*  Heights - Begin  */
    --hero__univer__bkg-height: 100;
    --format-card-trust-photo-height: 208;
    --card__img-height: 162;
    --card__how__img-height: 244;
    --map-container-height: 279;
    /*  Heights - End  */


    /*  Position - Begin  */
    --hero__univer__bkg-top: 894;
    --logo__tablet-top: 262;
    --logo__tablet-left: 354;
    --course-card__exam-switch-top: 14;
    --course-card__exam-switch-left: 214;
    /*  Position - End  */


    /*  Border - Begin  */
    --border__1-radius: 50;
    --border__2-radius: 42;
    --border__3-radius: 30;
    --border__4-radius: 23;
    --border__5-radius: 30;
    --format-card-trust-photo-radius: 20;

    --contact-map-card__tablet-radius: 25;
    --contact-map-card__tablet-map-radius: 20;
    /*  Border - End  */


    /*  Button - Begin */
    --btn__padding-top: calc(100vw * 12 / var(--mainWidth));
    --btn__padding-right: calc(100vw * 14 / var(--mainWidth));
    --btn-thin__padding-top: calc(100vw * 8 / var(--mainWidth));
    --btn-thin__padding-right: calc(100vw * 12 / var(--mainWidth));
    --btn__font-size: calc(100vw * 23 / var(--mainWidth));
    --switch-btn-fontSize: 19;
    --switch-btn__active-fontSize: 17;
    /*  Button - End */
  }
  /*                                                 Переменные величины - End                                                 */

  /*                                                 Постоянные величины - Begin                                                 */
  :root {
    /*  Backgrounds - Begin */
    --btn__background: linear-gradient(180deg, #3B3A4E 0%, #272733 100%);
    /*  Backgrounds - End */
  }
  /*                                                 Постоянные величины - Begin                                                 */
}