.container {
  padding: var(--container-padding) var(--container-padding) 0;
}


/*      ======= Header - Begin ======       */
.header {
  width: 100%;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--space-xs);
  padding-left: var(--space-md);
  background-color: var(--color-surface);
  border-bottom-left-radius: var(--radius-xl);
  border-bottom-right-radius: var(--radius-xl);
}

.header__logo {
  height: calc(100vw * 16 / var(--container-width));
  width: calc(100vw * 64 / var(--container-width));
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: var(--space-md);
}

.menu img {

  width: var(--size-md);
  height: var(--size-md);
}

.menu__inside-first {
  display: flex;
  align-items: center;
  gap: var(--space-md);

  background: var(--color-primary);
  padding: var(--space-3xs);
  border-radius: var(--radius-round);
}

/* обычный пункт */
.menu-item {
  display: flex;
  align-items: center;
  gap: var(--space-xs);

  padding: var(--space-3xs);
  border-radius: var(--radius-round);

  cursor: pointer;
  transition: all 0.3s ease;
}

/* ===== TASKS (первый элемент) ===== */

/* неактивный */
.menu__inside-first .menu-item:first-child {
  margin-left: var(--space-sm);
}

/* активный */
.menu__inside-first .menu-item:first-child.active {
  margin-left: 0px;
}


/* ===== MATERIALS (последний элемент) ===== */

/* неактивный */
.menu__inside-first .menu-item:last-child {
  margin-right: var(--space-sm);
}

/* активный */
.menu__inside-first .menu-item:last-child.active {
  margin-right: 0px;
}

/* текст скрыт по умолчанию */
.menu-item span {
  display: none;
  color: #2B2B3A;
  font-weight: 500;
}

/* активный пункт */
.menu-item.active {
  background: #fff;
}

/* и задаём отдельно */
.menu__inside-first .menu-item.active {
  padding: var(--space-3xs) var(--space-md);
}

.menu__inside-second .menu-item.active {
  padding: var(--space-2xs);
}

/* показываем текст */
.menu-item.active span {
  display: inline;
}


/* по умолчанию */
.icon-active {
  display: none;
}

/* когда активна */
.menu-item.active .icon-default {
  display: none;
}

.menu-item.active .icon-active {
  display: block;
}


.menu__inside-second {
  display: block;

  padding: var(--space-3xs);

  background-color: var(--color-primary);
  border-radius: var(--radius-round);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
}

.profile__logo {
  display: flex;
  justify-content: center;
  align-items: center;

  width: max-content;
  height: max-content;

  padding: var(--space-2xs);

  background-color: var(--color-primary);
  border-radius: var(--radius-round);
}

/*      ======= Header - End ======       */



/*                                                 Footer-mobile - Begin                                                */
.footer {
  margin-top: var(--section-padding);
  padding: var(--space-2xl) var(--space-md);
}

.footer-container-tablet {
  display: none;
}

.footer,
.footer p,
.footer a {
  font-size: var(--text-sm);
  font-weight: 300;
  color: var(--color-text-secondary);
}

/* ===== Верхняя часть ===== */
.footer-top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Бренд */
.footer-brand {
  max-width: 100%;
}

.footer-logo {
  width: calc(100vw * 74 / var(--container-width));
  height: var(--size-xl);
}

.footer-description {
  margin-top: var(--space-sm);
}

/* ===== Навигация ===== */
.footer-nav {
  display: flex;
  justify-content: space-between;
  align-items: start;

  margin-top: var(--space-sm);
  width: 100%;
}

.footer-column ul {
  list-style: none;
}

.footer-column h3 {
  text-align: start;
}

.footer-column li {
  margin-top: var(--space-xs);
  line-height: 1.1;
}

.footer-column a {
  text-decoration: none;
  transition: 0.2s ease;
}

.footer-column a:hover {
  color: #2c2c34;
}

/* ===== Разделитель ===== */
.footer-divider {
  margin-top: var(--space-sm);
  margin-bottom: var(--space-sm);

  width: 100%;
  height: var(--border-width);
  background-color: var(--color-border);
}

/* ===== Нижняя часть ===== */
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: var(--space-sm);
  flex-wrap: wrap;
}

.footer-links {
  display: flex;
  justify-content: space-between;

  width: 100%;

  font-size: calc(100vw * 11 / var(--container-width));
  line-height: 1.1;
}

.footer-links a,
.footer-copy {
  font-size: calc(100vw * 11 / var(--container-width));
  text-decoration: none;
}

/*                                                 Footer-mobile - End                                                */

/*                                                 Footer-tablet - Begin                                                */
@media (min-width: 768px) {
  .footer-container {
    display: none;
  }

  .footer-container-tablet {
    display: flex;
    flex-direction: column;
  }

  /* ===== Верхняя часть ===== */
  .footer-logo {
    width: calc(100vw * 74 / var(--container-width));
    height: calc(100vw * 20 / var(--container-width));
  }

  .footer-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  /* ===== Разделитель ===== */
  .footer-divider {
    height: var(--border-width);
  }
}

/*                                                 Footer-tablet - End                                                */